[2021-11-09 10:12] MrAlex94 commented on #2321
Fixed with https://github.com/WaterfoxCo/Waterfox/commit/2ed42c3d1a4ba955aeae11b74b129a0b365909ae

[2021-11-09 11:34] MrAlex94 commented on #2409
AFAIK Fission makes values such as `dom.ipc.processCount` irrelevant. If you want, setting `fission.autostart` to `false` should allow the pref to work again.

[2021-11-09 12:07] broadstairs commented on #2378
I have just installed G4.0.2.1 and still my saved passwords are not displayed. They work OK in that I can login to a website where the user and password are filled in by Waterfox but I am still unable to display them and therefore edit or delete them as required. Please explain why. Until this is fixed I am unable to use G4.

[2021-11-10 08:14] PauloLaScience opened #2414 "Error when restore backup JSON from Waterfox Classic or Firefox on Windows 10 pro"
### What happened?

Error when restore backup JSON from Waterfox Classic or Firefox on Windows 10 pro

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Relevant log output

[code]

[2021-11-10 09:17] PauloLaScience opened #2415 "Synchronize bookmarks on Waterfox G4.0.2.1(64 bits) on Windows 10 Pro"
### What happened?

I'm trying to synchronize Firefox account on Waterfox G4. Extensions, Passwords are working but history and bookmarks are not working and stay empty. I try also to import from html or restore backup didn't work.
See [https://github.com/WaterfoxCo/Waterfox/issues/2414](#2414)

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform

[2021-11-10 09:50] MickiTee commented on #2362
Any progress on resolving this issue? Since the latest Waterfox update to V4.0.2.1 the situation has deteriorated. I can now only see the active tab at the bottom of the screen. None of the others.

[2021-11-10 10:00] Objectivite commented on #2362
You won't get anywhere (a good read of the thread will show that).

Do what I did :  take a copy of your profile folder (Help / Troubleshooting information will show you), uninstall, delete all folders from **Program Files** and **<User>\AppData\Roaming\Waterfox**, delete all registry keys under  HKEY_LOCAL_MACHINE\SOFTWARE\Waterfox (all flavours)  and HKEY_CURRENT_USER\SOFTWARE\Waterfox (all flav

[2021-11-10 15:27] stu-carter commented on #2380
Also occurs for me on G4.0.2.1 (64-bit Windows).  Thanks.

[2021-11-10 20:02] Wonderer0 opened #2416 "System theme not available for new profile in Windows"
### What happened?

If you create a new profile in 4.0.2.1 and look in `about:addons` the built-in System theme is no longer available.  If you use an old profile (created before G4) it is still available, but gives different colours in the tab bar etc, as reported in issue #2369.

I am reporting this as a "bug" in the hope that it's not been deliberately removed.  If it has could you restore it p

[2021-11-10 20:17] Wonderer0 commented on #2416
### Workaround

In case anybody else runs into this problem a workaround is given below.  Thanks to @Kilzzz for his/her workaround, which made me realise it's possible to disable all themes.

#### Summary

The workaround is to install an add-on theme, then just delete it's `.xpi` file from `<profile>\extensions`.  Waterfox can then no longer use this theme, but it leaves all the other themes disab

[2021-11-10 20:27] Wonderer0 commented on #2369
The problem described above comes about when trying to use the built in System theme, which I now realise is apparently is no longer present in the latest releases of WF.  How is it that it is still useable at all, is it still partly implemented?

Disabling all themes, as described in issue #2416 makes the colours correct, i.e the same as they used to be in G3 and still are in Firefox.  So if a mo

[2021-11-10 20:54] PapoyBanana opened #2417 "Content Process Limit option is missing from Settings"
![image](https://user-images.githubusercontent.com/13683419/141189729-c0b0f5c7-3192-4f3f-8375-f84964bcdecb.png)

There used to be an option to choose the value of the content process limit there as an alternative to set the `dom.ipc.processCount` number via `about:config` page. Could you put it back?

[2021-11-11 04:43] suneeltechnew opened #2418 "Screen sharing is not working."
I am not getting "screen share" option in skype. Is waterfox supports screen sharing?

I want to share the screen when I use websites like skype, google meet, zoom, etc,.

[2021-11-11 08:02] Objectivite opened #2419 "User Agent issues in v4.0.2.1 (not present in 4.0.1)"
### What happened?

www.bloomberg.com/europe  complains about using a browser called Waterfox 91.3.1.

This problem  **does NOT happen**  in v4.0.1,  only in the latest v4.0.2.1  and it is obvious why as the user agent is incorrect.

![image](https://user-images.githubusercontent.com/89191739/141260526-c64de408-dd71-467e-b46e-e357a51d5619.png)

O.

### Reproducible?

- [X] I have tested this on Fi

[2021-11-11 08:42] Objectivite opened #2420 "extensions.getAddons.cache.enabled has NO EFFECT on the display of Themes in 4.0.2.1"
### What happened?

Same bug again (Warning: only for programmers not taking offence to bugs being reported).

**extensions.getAddons.cache.enabled**  works in  **Firefox**.  Set it to  FALSE  in Firefox, and themes do not get previewed.  Set it to TRUE and themes get previewed **instantly** (ie. no need to wait for population).

More importantly :  I have all the same add-ons in Firefox (in addit

[2021-11-11 15:03] suneeltechnew commented on #2418
Screen sharing functionality is working. skype only not built for firefox/waterfox.

[2021-11-11 15:03] #2418 closed, assigned to nobody

[2021-11-11 15:07] ericjs opened #2421 "Web site bug: order of releases"
### What happened?

It would be really nice if the order in which the releases were presented in the left-hand sidebar on the website was the actual order of the releases. As it is rather confusing:

https://www.waterfox.net/docs/releases/G4.0.2.1

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Linux

### Relev

[2021-11-11 19:47] Objectivite commented on #2411
I can very easily reproduce this bug in 4.0.2.1.

It only takes one CLOSE of Waterfox in my case.  Constantly have to re-enable it in **Settings**.

O.

[2021-11-12 16:30] Torekal129 commented on #2407
The closing buttons disappear when there are too many open tabs in a window.

![Capture](https://user-images.githubusercontent.com/89526725/141500607-24626d06-d74f-46ca-a676-4aef0efaa4f8.png)

[2021-11-12 21:04] brucew2013 opened #2422 "G4.0.2.1 (64-bit) hangs on certain websites - DNS setting Network Preferences"
### What happened?

**Potential bug.** **Waterfox G4.0.2.1 (64-bit) on Mac Monterey (12.x)**
Certain websites like Facebook and Google hang and never finish downloading but others work fine. There were some Comcast/Xfinity outages in San Francisco Bay Area from Nov 1-7 when this happened. In Waterfox Network Settings, I switched to 'No Proxy' but no change.  Then in "Enable DNS Over HTTPS" didn't

[2021-11-13 02:04] this-is-your-do commented on #2392
See https://github.com/WaterfoxCo/Waterfox/issues/2330#issuecomment-947591210 for disabling update notifications while G4 continues to have regressions from G3.

[2021-11-13 19:22] JohnEdwa opened #2423 "TabMixPlus incompatibilities with Lepton and Australis themes."
### What happened?

I noticed that [TabMixPlus](https://github.com/onemen/TabMixPlus) seems to have incompatibilities with the Lepton and Australis themes, I would assume because they use CSS IDs or overrides that aren't what TMP expects them to be.

Not sure if it's something that can be fixed from Waterfoxes side, or if it would need special handling in TabMixPlus, but I though I'd report it her

[2021-11-14 08:46] Mysteron347 opened #2424 "Save-as dialogue problem"
### What happened?

On a picture, right-click V used to open the save-as dialogue. On 4.0.2.1, it does nothing.

This sequence works on Firefox (93).

I believe that this is caused by the "Open in new private tab" option which has hotkey "P" in Firefox but "V" (clashing with the save-as hotkey) in Waterfox.

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### W

[2021-11-14 15:51] realdomdom commented on #2409
Thank you.

[2021-11-14 15:51] #2409 closed, assigned to nobody

[2021-11-15 06:45] dgwphotos commented on #2422
This also happens on Linux. However, it is not resolved by disabling DNS over HTTPS.

[2021-11-15 06:52] dgwphotos commented on #2422
It does not happen on Windows, although there are pages that do not load properly (Twitch being one).

[2021-11-15 11:35] hawkeye116477 commented on #2361
Seems that's not related with rust > 1.55, cuz it works fine when building with same rust version on Ubuntu 21.10 and lld linker, but with LLVM 12.

[2021-11-15 14:16] ghost opened #2427 "Customize toolbar: can't remove bookmark icon"
### What happened?

Small bug, something that was possible in G3. I can't remove the bookmark icon in the top bar when clicking 'customize toolbar
<img width="252" alt="Screenshot 2021-11-15 at 20 41 50" src="https://user-images.githubusercontent.com/91443226/141796830-f02f26d2-3ec0-433d-89c9-916d1b15d9f8.png">

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

#

[2021-11-15 19:42] brucew2013 commented on #2422
Thanks for the very quick update reversing the default of remote DNS use.

Bruce M. Wolfe, M.S.W., CIO [ https://alcoholjustice.org/ ]
24 Belvedere St., San Rafael, CA 94901
❖ 415/456.5692 (Main) ❖ 415/257.2493 (Direct) ❖ 415/456.0491 (Fax) ❖ KI6BSL (HAM) ❖

----- On Nov 14, 2021, at 10:52 PM, dgwphotos ***@***.***> wrote:

| It does not happen on Windows, although there are pages that do not load

[2021-11-16 14:28] robvthof opened #2428 "Update 4.0.2.2 disables TabMixPlus"
### What happened?

I (manually) updated to 4.0.2.2
TabMixPlus was disabled. I tried re-starting and then re-installing TabMixPlus.
It looks like it is active in the add-ons list but there is no menu in Tools and Tabs jump to top of windows.

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

macOS

### Relevant lo

[2021-11-16 17:32] strotee opened #2429 "G4.0.3 menu falls off the screen"
### What happened?

I installed 4.0.3 and noticed the menu falls off the screen, the text gets chopped off when the browser is maximized.

![Untitled](https://user-images.githubusercontent.com/15714473/142035343-9d156ac8-69f9-436b-bec5-fc1abcb6dfb2.png)

Edit: When one goes to Customize Toolbar, the menu shifts down (looks normal), then clicking Done it shifts the menu up/off-screen.

### Reproduc

[2021-11-16 17:56] Objectivite opened #2430 "4.0.3 - Incorrect pixel calculations --> Menu bars disappears off the top of the screen + Tab Bar position settings lost"
### What happened?

Have reverted to 4.0.2.1 as 4.0.3 is unworkable

Menu problem when maximized :+1:
![image](https://user-images.githubusercontent.com/89191739/142039314-b09287d7-0745-44df-8a2c-e36a1c5f319e.png)

Also, The tab bar position settings were wiped out with this install - none of the 4 options were chosen so the tabs appeared in the middle of the Menu Bar !

Worse - even after setting

[2021-11-17 15:44] ItzYanick opened #2432 "AUR bin package that updates automatically on release using github-actions"
**Is your feature request related to a problem? Please describe.**
I always love to have bin packages that install programs to my linux pc without any hassle. Having a AUR bin package with the precompiled bins would not only add a very easy way of installation but also a faster way as I would not have to self compile the code on my own hence installing all the dependencies for building.

**Describ

[2021-11-17 16:47] Patlen123 opened #2433 "Global Menu Support Removed in Linux"
### What happened?

G4 has removed global menu support from Waterfox which was patched back after Firefox removed it in in one of the early G3 versions

### Reproducible?

- [x] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Linux

### Relevant log output

_No response_

[2021-11-17 17:55] ViniciusBRodrigues commented on #1128
I'm having the same issue on the linux mint debbie.

[code]

[code]

[code]

[2021-11-17 19:54] hawkeye116477 commented on #2432
Package is already available on AUR => https://aur.archlinux.org/packages/waterfox-g4-bin.

[2021-11-17 20:27] hawkeye116477 commented on #2433
Well, G4 was remade from scratch, no one added commit for global menu support. For G3 I made PR for it some time ago.
Maybe I'll see soon what can be done.

[2021-11-17 22:44] A0R-R0CKS opened #2434 "G4.0.3 crashes when update is done will not launch"
### What happened?

I tied to install the  G3.3.2.6 78.14.0 and it crashes when launching,

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-11-17 23:05] Com874 opened #2435 "Flash Pluggin"
### What happened?

So I installed the new update of Waterfox, I use the software for many things including Flash
The new update however now makes it more harder to use the plugin. I thought at first  it was removed, only for me to find out about this....  "Plugins such as Flash can now be enabled, but require you to interact to have web pages run it for security reasons." I tried every step of en

[2021-11-17 23:08] A0R-R0CKS opened #2436 "Waterfox Classic 2021.10 (64-bit) DRM Tubi.com issues"
### What happened?

A bug happened!www.tubi.com pick a movie say The Fugitive, it begin to loads then DRM pops up just like it does on G3.2.6 (64-bit)
Plays fine in Chrome, many other Tubi Videos do the same in G3.2.6 (64-bit) DRM on about half the titles,
in the 2021.10 (64-bit) some begin to load for a second to 3 then DRM blocks it and DRM is enabled.

Also be away that in Waterfox Classic 2021

[2021-11-18 01:05] apfsx commented on #2380
Also happens for me. Has anyone discovered a workaround?

[2021-11-18 10:16] MrAlex94 commented on #2434
Will need some more information.

- What version were you on before you upgraded?
- Did you auto-update or manually update?
- What are your hardware specs?

[2021-11-18 13:41] ItzYanick commented on #2432
interesting... i was searching for waterfox on the AUR and I only found g3 and classic. It did not show me any g4 packages. Anyway thank you! I will therefore close this issue.

[2021-11-18 13:41] #2432 closed, assigned to nobody

[2021-11-18 14:54] vehosah commented on #1805
Play Store doesn't even have it lmao

[2021-11-18 15:08] tcreek commented on #1805
That's how I got it on my Android phone

[2021-11-18 15:13] vehosah commented on #1805
Huh?

[2021-11-18 15:50] tcreek commented on #1805
huh? I got it on my phone via the Play Store. Not hard to understand

[2021-11-18 15:54] vehosah commented on #1805
Show us the link then?

[2021-11-18 16:56] girst opened #2437 "Boostrapped Addons broken after browser restart"
### What happened?

Bootstrapped (legacy) addons are disabled after restarting the browser. dis-and re-enabling them in about:addons makes them run again.

affected version: 403

STR, in a clean profile:
1. install e.g. [VimFx](https://github.com/akhodakivskiy/vimfx/releases/tag/v0.24.5). Note that the addon works (toolbar icon present)
2. open browser console and restart waterfox (ctrl-shift-j, t

[2021-11-18 16:58] girst commented on #2437
also, the linked commit's message suspiciously looks like a Jira-ticket-ID. I was unable to find the ticketing system, though. is this public?

[2021-11-18 18:35] mk-fg commented on #2361
Hm, interesting, pretty sure I've used llvm/lld 12.0.1 in my build as well.
Suspect some mozconfig option in that PKGBUILD might be triggering the issue, but just because can't think of anything more plausible, and don't know enough about rust/linking to tell for sure easily.

[2021-11-18 22:32] mk-fg commented on #2361
Error looks slightly different, but still happens for me when building G4.0.3 (without the patch above), using llvm/lld/clang 13.0.0 and rust 1.56.1 atm.

But it only happens after running `./mach python build/pgo/profileserver.py` and building with `--enable-lto=cross --enable-profile-use=cross --with-pgo-profile-path=... --with-pgo-jarlog=...` - simple build without that optimization step works

[2021-11-18 23:08] dfgrgavr opened #2438 "Tab bar position"
### What happened?

Hi!

First, thank your works, all the developers of waterfox.

In latest version of Waterfox (non classic), Tab bar position setting everytime reseted after second restart.

To get rid this problem, i set the prefs.js file read only mode,  but im sure developers will repair in the next version, because its an inconvenient solution.

Thank you, and Keep up the good work guys!

#

[2021-11-19 01:28] A0R-R0CKS commented on #2434
Currently G3.2.6 (64-bit) is what I am running
Manual Download and Update
AMD Phenom II AM3 X4 965 8MB 140W 3400MHz Black Edition 16 Gig Ram 4 Gig ATI Video Card....

[2021-11-19 02:10] cocoa1231 commented on #1128
Same issue here on LMDE

[code]

[2021-11-19 04:44] tcreek commented on #1128
You seem to be misreading the output it is giving you

: version **GLIBC_2.30** not found

libc6 is already the newest version **(2.28-10).**

Since I doubt your skill level is sufficient to put version 2.30+ on your system, you are going to have to upgrade to a newer distro

[2021-11-19 07:09] dfgrgavr commented on #2380
Same problem here. I think i revert back to g3.xx . I hope that will not mess everything...

[2021-11-19 08:34] gwin7ok commented on #2438
The same is true for display setting of status bar

[2021-11-19 18:08] MrAlex94 commented on #2437
Should be fixed with https://github.com/WaterfoxCo/Waterfox/commit/a5d8a7ffc5ab07d47a0cc871bcc25f34052f9fdc

Have tested and add-ons persist through restarts.

Sorry about that!

The ticketing system is not public,  but all it's doing is tracking all the changes we make here.

[2021-11-19 18:08] #2437 closed, assigned to nobody

[2021-11-19 18:18] MrAlex94 commented on #2428
This should be fixed with https://github.com/WaterfoxCo/Waterfox/commit/a5d8a7ffc5ab07d47a0cc871bcc25f34052f9fdc. Build will be released next week fixing it.

Please re-open if it doesn't.

[2021-11-19 18:18] #2428 closed, assigned to nobody

[2021-11-19 18:23] MrAlex94 commented on #2407
I can't reproduce:
![image](https://user-images.githubusercontent.com/4728920/142672566-a2c14149-b61a-443e-9f3d-84343be62680.png)

It doesn't look like you're using the same theme?

[2021-11-20 03:00] ghost opened #2439 "Can't install Extenstions"
### What happened?

Hello,

Just wondering why I am not able to install the following extensions:

Microsoft Editor - Google Web Store

Microsoft Rewards - Google Web Store

MyStart Horse new tab - Google Web Store

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-11-20 03:02] ghost opened #2440 "Translation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Well yes, it is sort of a problem with Firefox and this browser as there is no native translation feature.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

To be able to automatic or choose

[2021-11-20 03:42] ghost opened #2441 "Cast to Chromecast"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

No

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

To be able to cast YouTube or websites to Chromecast

**Describe alternatives you've considered**
A clear and concise description of any

[2021-11-20 05:43] ghost opened #2442 "Unable to import data from browser"
### What happened?

I am unable to import data from another browser due to this bug, see image.

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-11-20 05:45] ghost commented on #2442
https://1drv.ms/u/s!AploExad608_g9kuRx4XcQOT-D4H1Q link to image

[2021-11-20 17:32] ghost opened #2443 "When searching, the search box is hidden behind taskbar"
### What happened?

Thank you for the app!

The search area of "this time search" is sometimes hidden under the taskbar since too high.

https://1drv.ms/u/s!AploExad608_g9kwRN6JTsNZ4QHPsA?e=cGZ6vH

See image

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-11-21 01:00] ghost opened #2444 "YouTube Fullscreen"
### What happened?

Hello,

Thanks first for the great app and I find that sometimes in YouTube.ca/* that when pressing "F" should fulscren video but sometimes it just fades black and not do it.

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-11-21 05:58] gamer191 commented on #2246
Correction:
When I was writing this bug report I didn't consider the fact that websites can obviously detect whether plugins are installed without running them (that's how the "click to activate" box appears). As that is likely the cause of this, I'm closing this issue. I sincerely apologise for the error

[2021-11-21 05:58] #2246 closed, assigned to nobody

[2021-11-21 23:16] Chwoka commented on #2442
I'm using G4.0.3 on Windows 10 and I'm trying to import browser history from a file. (Unlike the fellow above me, my Import Wizard actually does give me options to click on.) Vivaldi's original History file has no written file extension, but secretly it is .sqlite (.db3 also works) so I can "fix" that just by copying and renaming the file. I've also converted it with a third-party tool (ChromeHist

[2021-11-22 03:32] ghost commented on #2442
@Chwoka I had the same issue, what I did was import browser stuff to Firefox then sync and use that same account in Waterfox. I also have the error you have too.

[2021-11-22 04:08] Avrution commented on #2411
Also plagued with this issue at least 50% of the time.

[2021-11-22 04:10] Avrution commented on #2380
Really figured this issue would be fixed by now.  I'm sure if it was related to Bing and revenue for using that engine it would have been more of a priority.

[2021-11-22 07:34] CMDRNuffin opened #2445 "G4.0.2.1 - Saved session information doesn't get updated correctly on window close"
### What happened?

TL;DR: When quitting out of waterfox by closing the last window, recent navigation is not saved in the stored session.

This issue might be amplified by my rather large number of open tabs (27 at the time of writing).

I noticed that when I close the last remaining window shortly after navigating to a new page, the session that gets restored on the next start sometimes contains

[2021-11-22 11:20] Jaitsu commented on #2430
+1. Even without the menu bar shown, the tops of tabs are being cut off (which is putting the tab X button in contact with the top of the screen, meaning clicks that would usually be above the button/tab are closing tabs.

[2021-11-22 13:10] Objectivite opened #2446 "Automatic update from 3.2.6 to 4.0.2.1 is a disaster --> suggests that not all required files/settings are overwritten/merged by install"
### What happened?

We forgot to disable automatic updates on two PCs, one a Windows 8.1 PC, the other one a Windows 10 Build 21H2.

In both cases the user's 3.2.6 Waterfox updated to 4.0.2.1. and the end-user then straight away complained.  The result was -

a)  Tab bar is at the bottom of the screen in one, and in the middle of the Favourites Bar in the othe !!

b)  Changing the Tab Bar settings

[2021-11-24 09:18] sSiDs opened #2449 "First install and cannot launch"
### What happened?

A bug happened!
https://ibb.co/NTMjtmz
Win 10 1607 ENT

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-11-24 13:26] MrAlex94 commented on #2438
Can you test with `G4.3.0.1` and see if the issue still occurs?

[2021-11-24 13:26] MrAlex94 commented on #2430
Can you test with `G4.3.0.1` and see if the issue still occurs?

[2021-11-24 13:26] MrAlex94 commented on #2429
This should now be resolved in `G4.0.3.1`.

[2021-11-24 13:26] #2429 closed, assigned to adamp01

[2021-11-24 13:27] MrAlex94 commented on #2423
This won't be fixed, unless TMP wants to support those themes, but I can't imagine so. If you want to use TMP, use the Firefox themes, which should be available.

[2021-11-24 13:27] #2423 closed, assigned to nobody

[2021-11-24 13:28] MrAlex94 commented on #2411
Can you test with `G4.3.0.1` and see if the issue still occurs?

[2021-11-24 13:32] MrAlex94 commented on #2366
We've pushed a few updates since then, and since we never get responses this issue will be closed.

[2021-11-24 13:32] #2366 closed, assigned to nobody

[2021-11-24 13:33] MrAlex94 commented on #2449
What processor? I assume it's one that doesn't support SSE4.2.

[2021-11-24 13:41] MrAlex94 commented on #2420
That's how it works. I'd suggest filing a bug with Firefox if you want this fixed.
For example in Waterfox, when setting `extensions.getAddons.cache.enabled` to `true` by default, then installing a theme:
<img width="774" alt="image" src="https://user-images.githubusercontent.com/4728920/143248459-2a4d9a83-e2e1-484e-a7f5-153547114d48.png">

Then disabling:
<img width="764" alt="image" src="https:/

[2021-11-24 13:41] #2420 closed, assigned to adamp01

[2021-11-24 13:43] MrAlex94 commented on #2439
Ah, that will be because Waterfox doesn't support the `chrome_settings_overrides.search_provider.prepopulated_id` API. In fact, none of them do because they only support a chrome-specific API.

We have plans for the future to get this working, but don't hold your breath on it happening any time soon.

[2021-11-24 13:43] #2439 closed, assigned to nobody

[2021-11-24 16:15] Objectivite commented on #2430
This has been fixed in 4.3.0.1

O.

[2021-11-24 16:15] #2430 closed, assigned to adamp01

[2021-11-24 16:16] Objectivite commented on #2411
This has been fixed with  G4.3.0.1

O.

[2021-11-24 16:20] Objectivite commented on #2420
I'll say it one last time :  **never assume** your users are idiots.

I reopened the issue exactly because I followed everything that was suggested and it was not working which is why I even added my troubleshooting data.

As it happens G4.3.0.1 has now fixed the problem.  As soon as the change is made, the themes show, instantly as in Firefox.  This is why I also included the themes I used, not t

[2021-11-24 16:26] Objectivite opened #2450 "Waterfox 4.3.0.1 - Right-click on Bookmarks toolbar has many options disabled"
### What happened?

For Adam - 4.3.0.1 has introduced a bug on the right-click on the Bookmarks Toolbar.  Options are disabled that should not be disabled :+1:

![image](https://user-images.githubusercontent.com/89191739/143276785-3d2a980c-c4ee-443a-be84-21e35de19625.png)

O.

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the

[2021-11-24 16:45] Objectivite commented on #2427
Drag it down to the  **INBUILT** icons below.  That works.

O.

[2021-11-24 16:56] MrAlex94 commented on #2417
It's due to [Fission](https://wiki.mozilla.org/Project_Fission) being enabled by default on Waterfox, which means that this preference does nothing anymore. If you want the preference to re-appear, you'll need to disable it. You can change `fission.autostart` to `false` (then restart) to have the option re-appear.

[2021-11-24 16:56] #2417 closed, assigned to nobody

[2021-11-24 20:41] ghost opened #2451 "Theme changing to Proton every restart"
### What happened?

I like the australis theme from waterfox classic, but when I close the browser and open it again it justs resets to the Proton UI (Which I personally hate). And It's also annoying to change the theme every time to the australis theme.

### Reproducible?

- [X] I have tested this on Firefox. (It changes acordingly)

### Version

G4.𝑋 (Future)

### What platform are you seeing th

[2021-11-24 21:43] gwin7ok commented on #2438
That Issue does not happen at G4.3.0.1 Thank you for fixing

[2021-11-25 01:43] kirk86 commented on #2435
I have the exact same issue running waterfox on OSX. Verison G3xx worked just fine with flash but now I can't watch some lectures which are on old flash recording but still very important for me. Any help with this is much appreciated?

[2021-11-25 05:05] dfgrgavr commented on #2438
Can you confirm that tab bar position problem cured too? Thank you!

[2021-11-25 05:09] dfgrgavr commented on #2438
I will test soon, thank you for dealing with this.

[2021-11-25 09:30] Elsewhereman commented on #2450
Came here to report the same. Options are there in Troubleshoot Mode, but not in normal mode, even with all extensions disabled. Waterfox 4.0.3.1, Windows 10 Version 21H1 x64.

[2021-11-25 13:01] MrAlex94 commented on #2450
Temporary fix appears to be to disable then re-enable the bookmarks toolbar.

[2021-11-25 13:02] MrAlex94 commented on #2438
@dfgrgavr, please re-open if you see the issue still occurs.

[2021-11-25 13:02] #2438 closed, assigned to adamp01

[2021-11-25 13:11] Elsewhereman commented on #2450
Thanks Alex! WFM.

[2021-11-25 13:32] Peacock365 commented on #2279
@adamp01

Please react to my prior comment, the previous two issues still persist as of Waterfox G4.0.3.1

Additionally, I have found the following issues:

- When Waterfox is maximized (green maximize button at the top left of the window) under macOS, the tabs are moved to the right quite a bit. The last version of Waterfox with correct behavior was Waterfox G4.0.2.1.
- Google search suggestions

[2021-11-25 15:06] johnkosm commented on #2450
Close Waterfox, reOpen Waterfox, and the issue is there again ...

[2021-11-25 15:41] #690 closed

[2021-11-25 18:28] treysis commented on #2405
It's not only technical specialists. Everyone who wants to configure their printers or other devices over the web interface will need this.

[2021-11-25 19:12] WDenda opened #2452 "Tabs are in one window at the bottom, second window above address bar"
### What happened?

A bug happened?
Tabs are in one window at the bottom below content (setting: Bottom below status bar), while in the second window the tabs are above the address bar at the same time. (see picture)

![Waterfox_Tabfehler](https://user-images.githubusercontent.com/8401627/143491401-6d6caa05-6854-4839-857c-1074838e177f.JPG)

Safe mode does not change this. I've never seen this on *

[2021-11-25 22:01] ZTrainor commented on #2450
Same issue.  Thank you very much MrAlex94!

[2021-11-25 22:34] Avrution commented on #2411
Fixed

[2021-11-25 22:43] SpinningQuarks opened #2453 "About:Config setting reset with 4.0.3.1"
### What happened?

Just updated my browser and I noticed one of my custom about:config settings was reset. The setting is browser.search.openintab and I had it set to True. Not sure if this indicates that other user-set about:config options have been reset on this update or not, and it's obviously a pretty minor thing, but I figured I'd report it anyways.

### Reproducible?

- [ ] I have tested t

[2021-11-25 23:12] ItsAvrilNotAveral opened #2454 "White Bar at Bottom of Fullscreen YouTube Video on Waterfox G4 0.3.1"
### What happened?

When in a fullscreen video, there is a small white bar present at the bottom of the screen. This bug does not occur on regular firefox.
I have attached an image of the issue to this bug report.

![WaterfoxBug](https://user-images.githubusercontent.com/95056340/143506819-f89b82ff-5017-4fd5-8631-1cb1cad85ad3.png)
.

### Reproducible?

- [ ] I have tested this on Firefox.

### Ver

[2021-11-26 01:07] gamer191 commented on #2435
I'm having the same issue, can you please tell me what the steps are? (I thought you just have to install flash 32.0.0.371 and interact with the website)

[2021-11-26 08:37] Objectivite commented on #2452
The only way you'll be able to cure it is to create a new profile with  ABOUT:PROFILES  then restore your Bookmarks from your old profile.

Everything else, themes, extensions, cookies, passwords, you will have to recreate.  Search for upgrading from 3.2.6 to any of the G4 versions, including 4.0.3.1 and you'll get the picture - it's broken and unlikely to be fixed (I am not one of the developers

[2021-11-26 08:46] kirk86 commented on #2435
I fixed this by uninstalling waterfox and installing [waterfox classic](https://github.com/WaterfoxCo/Waterfox-Classic)

[2021-11-26 11:21] adamp01 commented on #2279
@Peacock365

- I'll sort the license now.
- I'll also sort the Australis Light tab colour as it's a super quick fix. I'll also see if I can quickly fix up the moving close etc. buttons.
- I've added Google search suggestions onto the backlog as will need a bit of investigative work.
- For the tab movement when maximized issue, could you send me a screenshot? It all seems OK for the Mac installatio

[2021-11-26 12:52] WDenda commented on #2452
@Objectivite "Search for upgrading from 3.2.6 to any of the G4 versions"

I've started with V4, never had V3 Classic installed. So, will the new profile further work without this issue, or do I have to expect this to happen again?

Thank you!

[2021-11-26 12:58] Objectivite commented on #2452
Ouch - new install !

Well the ABOUT:PROFILES solution will still work.

As to whether you can expect this again, have a look at the list of problems and the replies and make up your own mind - if listening to users, not treating them like idiots, believing that they do have problems and  **are following**  suggestions, improves, then the situation will improve.

O.

[2021-11-26 14:12] WDenda commented on #2452
Creating a new profile did not help.
Same issue after closing the browser with two windows, and reopening with 'restore last session'. One window Tabs on top, other with tabs at the bottom.

So far, I'll stop using this browser until this is fixed. HAND!

[2021-11-26 14:32] romanrm opened #2456 "Built for GLIBC 2.30 -- won't run on Debian Buster"
Buster is the development codename for Debian 10. It was released on 2019-07-06, and got the latest updated version (10.11) on 2021-10-09. According to https://wiki.debian.org/DebianReleases, end of life date for Debian Buster is planned to be around 2022-08.

https://packages.debian.org/buster/libc6 Package: libc6 (2.28-10).

Clicking "Download for Linux" on the Waterfox website and trying to run

[2021-11-26 20:38] Deki2000 opened #2458 "Tab Bar Position"
### What happened?

A bug happened!

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Relevant log output

[code]

[2021-11-28 15:10] antoniomonteirojr opened #2459 "Chrome extension "Typio Form Recovery" doesn't work"
### What happened?

I installed Waterfox G4.0.3.1 and installed the Typio Form Recovery extension from the Chrome Web Store.
https://chrome.google.com/webstore/detail/typio-form-recovery/djkbihbnjhkjahbhjaadbepppbpoedaa

However the extension does not work in Waterfox, it does not retain data placed in forms, nor does it display the extension icon on the forms.

### Reproducible?

- [ ] I have tes

[2021-11-28 17:37] dfgrgavr commented on #2438
Working fine! Thank you the fast repair. :)

[2021-11-28 17:41] dfgrgavr commented on #2380
Problem is still in 4.0.3.1.  :(

[2021-11-29 00:59] #2098 closed, assigned to nobody

[2021-11-29 13:35] hawkeye116477 commented on #2456
Rather no, probably simple modification on https://github.com/WaterfoxCo/Waterfox/blob/current/.github/workflows/push.yml#L276 to use Docker image for CentOS 7 or some other distro for compiling would suffice.
The only problematic looks like that 7-zip Alpha version, which can't run on some older distros, but it doesn't seem needed for Linux.

As a evidence I still can build it for Debian 10 => ht

[2021-11-30 04:40] Jogrefer opened #2461 "App window with twice buttons"
### What happened?

I activated fullscreen (F11), then while hovering the tab bar the icons of the window have been twice showed

![Error](https://user-images.githubusercontent.com/73208204/143986327-598ecb72-cc70-45f5-9307-0524a06b4cbf.png)

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Relevant

[2021-12-01 14:45] MrAlex94 commented on #2461
What specific version of G4?

[2021-12-01 16:11] Jogrefer commented on #2461
4.0.3.1 (64 bits)

![image](https://user-images.githubusercontent.com/73208204/144270184-ea672fc2-b101-433c-8126-0f2f9f97d917.png)

[2021-12-01 18:24] iqlat commented on #2401
Changing this parameter solves this issue, kinda (corrects font view of toolbar menu while using Blank font in window titlebars):

**about:config** => privacy.resistfingerprinting -> **true**:

**waterfox 4.0.3.1**:  **[true](https://i.imgur.com/HBAKVGy.png)** / **[false](https://i.imgur.com/AFtzehM.png)** (default)

But I've noticed that setting this parameter to /true/ causes lags in sites anima

[2021-12-02 03:17] A0R-R0CKS opened #2462 "Update caused DRM Play issues on Multiple Sites..."
### What happened?

When I try to watch Video on Netflix outdated Browser after update also messed up DRM with Classic Waterfox as well...
You also over rode Autoupdate that was off...
I had no issue with 3.2.6. now the G4 updates has
caused play issues on TUBI, Pluto, Specturm TV online and Netflix

Classic no longer will play stuff either I tried to roll back the Waterfox no good

Now what do we

[2021-12-02 13:45] guuurb commented on #2462
Same issue here, hope it gets fixed soon! This is a dealbreaker!

[2021-12-02 20:41] LeeBinder opened #2464 "G4.0.3.1: Still necessary or advised to copy config.js ->Resources and config-prefs.js -> Resources/defaults/prefs?"
Not a feature request, not a bug report, but a question due to the release notes not providing an answer:

I see "Issues installing bootstrapped extensions have now been resolved". I also testify that my legacy bootstrapped Extensions from  [xiaoxiaoflood /firefox-scripts/Extensions](https://github.com/xiaoxiaoflood/firefox-scripts/tree/master/extensions) now load w/o the two bootstrapper files pr

[2021-12-02 23:15] AlienTux opened #2465 "Google.com not loading (search also doesn't work)"
### What happened?

Cannot load google.com
gmail also gives issues and it gets disconnected.

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Linux

### Relevant log output

_No response_

[2021-12-03 06:52] ghost opened #2466 "Oddities with private windows/tabs"
### What happened?

I've noticed an odd thing regarding the semi-recent private tab feature. Specifically regarding the combination of those and REGULAR private windows.

Putting aside my personal feelings that _private tabs on an already-private window are a bit redundant_, I wanted to point out: the bookmark menu COMPLETELY prohibits the opening of regular tabs when right clicking them on a (non

[2021-12-03 10:43] #2411 closed, assigned to nobody

[2021-12-03 10:52] this-is-your-do commented on #2454
I've noticed this as well - and it's not specific to Youtube, it happens whenever you enter fullscreen mode (though it can be hard to notice on white/light-gray websites).

[2021-12-03 12:48] wbak1102 opened #2467 "DRM (Digital Rights Management)"
It does not work in G4.0.3.1 DRM (Digital Rights Management) ?
Version G3.2.6 is OK

[2021-12-03 13:49] Mr-Batyote opened #2468 "Typo on Web Page - https://www.waterfox.net/"
### What happened?

I was unable to find any contact information on the website besides twitter or here, and I cannot comment on Twitter profiles, so here is my grammatical "bug" report.  There is a transposed letter on the home screen of your web page, nothing critical but just an immediate error that stuck out to me and really detracts from the otherwise sleek look of your site. Great work every

[2021-12-03 14:43] this-is-your-do commented on #2454
(While this line is usually hardly visible, when it is visible (e.g. in screens or videos where most of the bottom area is black), it's highly bothersome - a fix would be appreciated)

[2021-12-04 12:03] luzrain commented on #2454
I have the same issue.

[2021-12-04 18:17] Pilouface95 opened #2469 "Searching with address bar, no suggestions from Google"
### What happened?
Not working only for Google. For Bing, Wikipedia etc. it was okay.

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

### What platform are you seeing the problem on?

Linux

### Relevant log output

_No response_

[2021-12-05 10:14] hawkeye116477 commented on #2361
I tried to compile Firefox ESR 91 on OBS on Arch with same configuration as you and guess what happened. It build successfully, so apparently that means that someone from Waterfox team broke that.

**Update:** Looks like I figured out what's wrong. That code referenced by error is used by Gecko Profiler (benchmark, tool which gathers information about browser's performance) and problem is that @Mr

[2021-12-05 19:40] Avrution commented on #2450
Glad it wasn't just me

[2021-12-06 06:00] wbak1102 commented on #2462
For me the same ? HBO Go, Via play.
[https://github.com/WaterfoxCo/Waterfox/issues/2467](url)

[2021-12-06 06:11] ghost commented on #2462
He does not work HBO Go ?

[2021-12-06 06:47] A0R-R0CKS commented on #2462
In other words it also has DRM Issues playing Video on HBO website.
Several websites with Video is having DRM issues and also gives unsupported or outdated Version of the Browser.
It's happened to me, my Family Members and friends all using the recent Waterfox update.
Even if you uninstall the new update and roll back to 3.6.2 that did work now it too is affected and no longer works.
The Installer

[2021-12-06 09:15] GodOdmin opened #2470 "Bookmark Toolbar right-click menu problem"
### What happened?

 Waterfox G4.0.3.1 on Win10 2004. Noticed that right-click menu on bookmarks in Bookmark Toolbar has most of the entries grayed out (Open, Open in new tab, etc) Only "Open in private tab" and some Bookmark Toolbar settings are available. Right-click menu on same bookmark, but from from bookmark sidebar (CTRL+B) works fine. I've created a new profile in same custom folder as mai

[2021-12-06 10:37] Tafitson commented on #2470
I have the same Problem.
Seems to work fine in current Firefox (94.0.2).

[2021-12-06 10:41] Tafitson commented on #2470
Just seen that this is a duplicate of #2450 though

[2021-12-06 10:51] #2470 closed, assigned to nobody

[2021-12-06 10:52] GodOdmin commented on #2470
Duplicate of https://github.com/WaterfoxCo/Waterfox/issues/2450

[2021-12-06 10:53] GodOdmin commented on #2450
I have same issue

[2021-12-06 14:49] Velocity-7 opened #2471 "Waterfox crashes on macOS Catalina"
### What happened?

I wanted to install waterfox on my mac, when I try to open the application it crashes giveing me a error and a option to reopen I have also tried restarting my mac and it still won't work.. It crashes instantly like when I open it the application crashes instantly please help..

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platfo

[2021-12-06 16:55] #2471 closed, assigned to nobody

[2021-12-07 00:48] thecreator1965 commented on #2446
Windows 10 Pro 64-Bit Build 19044.1348
For me, installed and working Waterfox 2021.10 64-Bit Browser.
After manual upgrade using Waterfox.G4.0.2.1.Setup or Waterfox.G4.0.3.1.Setup Waterfox is not opening up.

I have used Revo Uninstaller Free to remove all Waterfox files and folders and installed Waterfox G4.0.2.1 by itself with no Extensions, Waterfox does not open up or launch when clicking on W

[2021-12-07 01:44] RichLuna commented on #2462
Seems to me the problem is caused by waterfox using an old version of widevine. An up-to-date version of firefox has widevine 4.10.2391.0 while waterfox uses 4.10.2209.1 (apparently released last september). Forcing the widevine library into waterfox seems to fix the problem.

*Workaround* (You need a working and updated version of firefox)

0. Close both firefox and waterfox.
1. Find the "libwide

[2021-12-07 04:56] wbak1102 commented on #2462
@RichLuna   it works  Thanks !  Why Alex did not do this ?

[2021-12-07 05:01] ghost commented on #2462
@RichLuna Thanks !

[2021-12-07 09:10] dochego commented on #2452
This appears to be the same issue as #2376 (which is present in a new profile). A fix seemed to be imminent but hasn't landed yet.

[2021-12-07 10:48] bigboy65 commented on #2450
There is a work around, in the toolbar dropdown , under bookmarks toolbar select never show, then restart Waterfox and select always show. Then it works until exit Waterfox then you have to do the same thing again. Hopefully it will be fixed in the next update

[2021-12-07 10:53] bigboy65 opened #2473 "Credit card web sites---- Chase, ATT etc"
### What happened?

Even though I have the latest Waterfox, most Credit card websites say your browser is not compatable then it wants you to update to the latest version, have tried agent switcher with no results, work around is to go to Microsoft Edge....

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Window

[2021-12-07 12:30] adamp01 commented on #2466
@LazierTomato

Thanks for all the notes here.

I've actually been refactoring a lot of Waterfox specific features recently and have fixed "Private tab stuff showing in a Private window" - it was an oversight during the initial implementation, I'll be PR'ing it hopefully for the next release.

The bookmark context menu issue has been raised a lot and has been fixed for the next release.

[2021-12-07 12:31] adamp01 commented on #2466
Forgot to mention, the ability to toggle Private Tab context menu options on/off is something I have on a list of nice things to add. So is on my radar and will be implemented as and when I have the time.

[2021-12-07 12:47] Velocity-7 opened #2474 "Waterfox Crashes on macOS"
### What happened?

It just crashes instantly as I open it...

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

macOS

### Relevant log output

[code]

[2021-12-07 13:50] MrAlex94 commented on #2474
What model Mac are you using?

[2021-12-07 14:05] MrAlex94 commented on #2468
Thanks! Has been fixed and will be live soon.

[2021-12-07 14:05] #2468 closed, assigned to nobody

[2021-12-07 14:14] MrAlex94 commented on #2467
Unsure why Widevine `4.10.2209.1` is misbehaving on certain platforms, but commmit https://github.com/mozilla/gecko-dev/commit/d913610f657c2345daacf32785b0a1e185f45575 should fix the issue. It's currently sitting in my local repo and will be available with the next release due in a few days.

Please re-open once you've updated (when available) if it still occurs.

[2021-12-07 14:14] #2467 closed

[2021-12-07 14:17] Velocity07 commented on #2474
Mid 2009 Macbook pro running macOS catalina.

[2021-12-07 14:17] MrAlex94 commented on #2462
Unsure why Widevine `4.10.2209.1` is misbehaving on certain platforms (it should still work), but commit mozilla/gecko-dev@d913610 should fix the issue. It's currently sitting in my local repo and will be available with the next release due in a few days.

[2021-12-07 14:17] Velocity-7 commented on #2474
Mid 2009 Macbook pro running macOS Catalina.

[2021-12-07 16:08] MrAlex94 commented on #2361
c0a81c917dbcfbd442e314835365ad2e72cf5a5d thanks to @hawkeye116477

[2021-12-07 16:08] #2361 closed, assigned to nobody

[2021-12-07 20:56] A0R-R0CKS opened #2476 "Failure to update"
### What happened?

I am running Windows 7 Professional 64 Bit on 2 Home Business Computers that have all patches and updates and I am paying for Extended Life Support on Windows 7. The Computers have 3.2 GHZ Quad Core AMD Cpu's, they have 16 GB of Ram, 2 Gig Ram Video ATI Cards. The new G.4.0.3.1 update will not fully complete its install but what it did is destroy the DRM ability in both Waterfo

[2021-12-08 07:30] Petrifyingz opened #2477 "Inspect Element & Other Menus Not Opening"
### What happened?

Inspect element not opening any menu when invoked from the right click menu or from the keyboard shortcut. Issue has only started occurring ever since my browser updated to G4. Other bugs I've been getting are things such as the settings button from the hamburger menu doing absolutely nothing, the same goes for the add-ons button.

### Reproducible?

- [ ] I have tested this on

[2021-12-08 10:55] Test-Account666 opened #2478 "Stuff like settings don't open and some tabs stay open when closed"
### What happened?

Hello!

I have a really annoying problem!
If I click on "Settings", nothing happens.
I have to manually type "about:preferences", which is annoying, but typically not a huge problem.
As long as I don't need to go on special pages I don't know the name of...

For example: I wasn't able to do anything in the addons tab, because I just didn't know the url.

Also... Sometimes when

[2021-12-08 16:06] adamp01 commented on #2469
@Lamb666 - Thanks for raising this, https://github.com/WaterfoxCo/Waterfox/pull/2479 should fix.

[2021-12-08 16:06] #2469 closed, assigned to nobody

[2021-12-08 16:08] adamp01 commented on #2458
@Deki2000 - Thanks for raising this, https://github.com/WaterfoxCo/Waterfox/pull/2475 should make sure that the tab bar is moved before chrome is painted (amongst other things).

Let me know if you still have an issue with G4.0.4 and I can re-open this.

[2021-12-08 16:08] #2458 closed, assigned to nobody

[2021-12-08 16:10] adamp01 commented on #2454
@AW2305 @this-is-your-do @luzrain
- Would you be able to let me know what themes you are using please?
- Is this limited to one theme are across all themes?
- Are you all on Windows or is this noticeable across multiple platforms?
Thanks

[2021-12-08 16:12] adamp01 commented on #2453
@SpinningQuarks - thanks for raising this, it's certainly a weird one and nothing that was adjusted for G4.0.3.1 would indicate the potential for resetting this preference. I'm going to close the issue for now but if you notice repeated occurrences feel free to re-open and I can try to delve further into it.

[2021-12-08 16:12] #2453 closed, assigned to nobody

[2021-12-08 16:18] adamp01 commented on #2452
@WDenda @Objectivite @dochego
This one has been a bit of a pain to resolve for various reasons. I've done a bit of a chunky rewrite to attempt to resolve it, https://github.com/WaterfoxCo/Waterfox/pull/2475. This will be included in G4.0.4. If it still isn't fixed after this PR please comment again on this issue and I'll try another avenue.

[2021-12-08 16:20] luzrain commented on #2454
Light theme. On the dark theme I don't see that line.
I tested it on Windows 7 and Windows 10.

[2021-12-08 16:25] adamp01 commented on #2450
@Objectivite - this should now be resolved in G4.0.4 (getting released today). I'll close this off once the release is out.

[2021-12-08 16:27] adamp01 commented on #2478
@TheBlackEntity - thanks for raising this. I'll add these onto the list of things to look into, seems like it's Linux specific as quick tests on Windows/Mac don't appear to reproduce the behaviour you have mentioned.

[2021-12-08 16:39] ZTrainor commented on #2450
Thank you very much Adamp01!

[2021-12-08 18:26] Objectivite commented on #2450
Thank you Very Much Adamp01.

O.

[2021-12-08 18:29] Objectivite commented on #2452
**Thank You Very Much** Adamp01 for taking it seriously, addressing it, and letting us know.

Much much appreciated.

O.

[2021-12-08 20:02] Petrifyingz commented on #2478
Same happens to me on Windows.

[2021-12-08 22:00] Test-Account666 commented on #2478
I also should mention that this issue is not always present.

Most of the time it starts occuring after hibernation. But also when trying to change settings of addons (or at random) sometimes.

Addons like "TabSearch" seem to break while Waterfox is in "glitch state"

[2021-12-09 00:02] thecreator1965 opened #2481 "Color Mode Not Available when printing web page."
### What happened?

A bug happened!
Open Waterfox G4.0.3.1 64-Bit Browser
Go to Web page with Colors.
Go File then Print,
Result Print Preview page loads only in Gray Mode. Color Mode is not available.

Tested in Chrome and it prints page in Color.

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Re

[2021-12-09 09:02] adamp01 commented on #2478
@TheBlackEntity - Ok interesting - would you be able to do two things for me please?
1. Right after you notice one of these issues occurring open the Browser Console (Ctrl+Shift+J), should be in a pop-up window, and copy any relevant error lines on here. Best way to see what is actually relevant is by looking at what errors (if any) appear when you attempt to open settings or close a tab etc and i

[2021-12-09 09:16] adamp01 commented on #2477
@Petrifyingz - Would you be able to do the below to help debug this please?
1. Right after you notice one of these issues occurring open the Browser Console (Ctrl+Shift+J), should be in a pop-up window, and copy any relevant error lines on here. Best way to see what is actually relevant is by looking at what errors (if any) appear when you attempt to open settings or close a tab etc and it doesn't

[2021-12-09 11:36] Objectivite commented on #2481
Update to 4.0.4 which has fixed a lot more issues than are described in the Release Notes.

I have just tried the steps you mentioned, using www.bbc.co.uk and www.cnnc.om, and I had no problems printing in colour.

O.

[2021-12-09 13:07] R-a-v-e-n opened #2483 "Netflix error for Waterfox"
### What happened?

As of early hours Tuesday December 7, 2021 (what a date!), Netflix videos no longer play on Waterfox.
They receive the Netflix Error F7121-3078, with the message “Pardon the interruption, Looks like your browser
is no longer supported. Please install the latest version or try another browser”.

Two days prior, Netflix videos (including the first half of the SAME movie now unvie

[2021-12-09 13:43] poynty commented on #2483
Temp work around here:

https://github.com/WaterfoxCo/Waterfox/issues/2462#issuecomment-987491049

Work around tested and working Win 10 Waterfox Classic 2021.10, not tried G4.0.4 but presume it will work.

Adapted the filenames for Windows libraries but the theory is the same, copy from the latest version of Firefox, overwrite Widevine in the Waterfox profile.

[2021-12-09 14:33] #2466 closed, assigned to adamp01

[2021-12-09 14:34] MrAlex94 commented on #2483
Hi,

Could you go to `about:plugins` and copy/paste the output for Widevine:

[code]

[2021-12-09 14:34] adamp01 commented on #2464
@LeeBinder - We did integrate the bootstrap loader into Waterfox

[2021-12-09 14:34] #2464 closed, assigned to nobody

[2021-12-09 14:36] adamp01 commented on #2461
I'll take a look at this one, hopefully for next release.

[2021-12-09 14:37] #2450 closed, assigned to adamp01

[2021-12-09 14:39] #2452 closed, assigned to adamp01

[2021-12-09 14:40] adamp01 commented on #2376
Apologies for the delay on this one, but should now be fixed in G4.0.4. Please re-open the issue if that isn't the case for you.

[2021-12-09 14:40] #2376 closed, assigned to adamp01

[2021-12-09 14:42] adamp01 commented on #2362
This should now be resolved as of G4.0.4, please re-open the issue if that is not the case for you.

Thanks

[2021-12-09 14:42] #2362 closed, assigned to adamp01

[2021-12-09 14:43] #2321 closed, assigned to nobody

[2021-12-09 14:44] Objectivite commented on #2362
Thanks Adam - it is.

O.

[2021-12-09 14:48] MrAlex94 commented on #2474
Ah, sadly Waterfox requires SSE4.2, but your Core2Duo only supports up to SSE4.1.

I'm going to run some more thorough benchmarks, and if it's not that much of a difference - drop the requirements a bit.

I'll keep you updated if that does happen.

[2021-12-09 14:48] #2474 closed, assigned to nobody

[2021-12-09 14:51] Objectivite opened #2484 "Waterfox G4 v4.0.4 -- Thanks Adam for a smooth update"
### What happened?

No bugs.

I just wanted to thank  **Adam**  for a smooth update that did not bring new issues.

It has solved all my reported issues, plus quite a few that I never reported to do with the Tabs, plus a few I had read about on this forum.  It was  **heaven**  to have an update that did not break existing stuff and which fixed a lot more than was written up in the Release Notes.

[2021-12-09 19:15] R-a-v-e-n commented on #2483
Widevine Content Decryption Module provided by Google Inc.

    File: 4.10.2391.0
    Path: /Users/Raven/Library/Application Support/Waterfox/Profiles/k72xu250.68-edition-default/gmp-widevinecdm/4.10.2391.0
    Version: 4.10.2391.0
    State: Enabled
    This plugin enables playback of encrypted media in compliance with the Encrypted Media Extensions specification. Encrypted media is typically use

[2021-12-09 19:17] R-a-v-e-n commented on #2483
I am now able to view Netflix videos again. No system updates at *this* end.

[2021-12-09 19:37] LeeBinder commented on #2464
awesome - you folks **rock** 👍

[2021-12-09 19:42] kibibites opened #2485 "[Website] Peek not Peak"
### What happened?

Sorry if here is the place for the wrong issue, but I cannot find a place to submit issues about the website.

Typo seen here:
<img width="415" alt="Screen Shot 2021-12-09 at 11 39 41 AM" src="https://user-images.githubusercontent.com/47074495/145464564-97c61e09-244e-4a30-8e65-162af06aae6c.png">

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G3.𝑋 (Curren

[2021-12-10 06:17] mikeloeven commented on #2483
Looks like immediately after the update water fox is just slow getting the wide vine plugin update for me going into plugins menu and manually clicking check for updates resolved this

[2021-12-10 09:34] adamp01 commented on #2485
@sourTaste000 - This is a good place to report, thanks for raising. I've amended this and it's getting pushed out now.

[2021-12-10 09:34] #2485 closed, assigned to nobody

[2021-12-10 09:37] freebian666 opened #2486 "High title bar in full screen mode on Mac OS Catalina"
### What happened?

Hello!
I have high title bar in full screen mode:
<img width="1256" alt="Screen Shot 2021-12-10 at 2 32 47 PM" src="https://user-images.githubusercontent.com/70696173/145551741-3962543a-cca5-4364-ad7c-dfa2ea6dc08c.png">

Waterfox G4.0.4 (64-bit)
macOS Catalina 10.15.7 (19H1519)
Macbook Pro 16" core i9

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (

[2021-12-10 10:34] adamp01 commented on #2486
@freebian666 - Thanks for reporting this - that certainly isn't right. I suspect I know what is causing it so early next week I'll ask you to test some things out in the browser console. Unfortunately I'm unable to replicate this on the Mac machines I have available so this will be the only way we can get this fixed for you.

[2021-12-10 12:25] TankedThomas commented on #2454
Same issue here. I can reproduce it on both Windows (10 21H2) and macOS (Monterey). I think I had it on Linux too but not sure and can't check right this moment.

I'm using the Waterfox Lepton theme and syncing between all three operating systems (plus Fennec F-Droid on Android).
If it matters, I'm also using the Improve YouTube extension (turning it off doesn't seem to make a difference, however,

[2021-12-10 12:57] adamp01 commented on #2454
Thanks for the additional comments here. I've taken a look and can confirm that the white/black bar is there at all times irrespective of fullscreen etc. I imagine I'll have a fix for this in the next version.

[2021-12-10 12:58] adamp01 commented on #2483
Thanks for that @mikeloeven - hopefully your comment alongside the update will help any other users facing this issue.

[2021-12-10 12:58] #2483 closed, assigned to nobody

[2021-12-10 13:00] adamp01 commented on #2473
@bigboy65 - I'm going to do some custom user agent work early next week, or the week after. Would you be able to add a list of any sites that you are having issues with as this should hopefully be a quick fix for us.

[2021-12-10 13:19] adamp01 commented on #2454
Here is a temporary fix and a helpful testing opportunity - if any of you could do this, use the browser and report back that would be helpful.
1. Open the browser toolbox (Ctrl+shift+alt+I - I think), or Tools -> Browser Tools -> Browser Toolbox; there is a prompt you need to accept for Browser <> Toolbox messaging
2. Scroll to the main browser content and add padding-top: 1px; to the element rul

[2021-12-10 14:29] TankedThomas commented on #2454
I just gave it a try but, at least for me, it's shifting the white bar on the bottom to the white bar on the top (or, probably more accurately, it seems the full screen... isn't completely full). I played around with other padding arrangements but nothing seems to work. I guess I was wrong about it being a padding issue, at least specifically relating to CSS.

Interestingly, if I try adding to the

[2021-12-10 15:46] freebian666 commented on #2486
Ok, thank you
I'll be glad to help

[2021-12-10 17:23] Velocity07 commented on #2474
@MrAlex94 So something interesting happened as I downloaded waterfox with homebrew and I downloaded the G3 version and it is working pretty good and smoothly... Is there a way I can do to G4 too??

[2021-12-11 05:48] CaptainFrosty opened #2487 "I got my Waterfox banned by Widevine, apparently."
### What happened?

My cable company uses Widevine to stream TV on the browser. It always worked on Waterfox before, with DRM enabled, but I messed around with a few about:config settings and apparently Widevine didn't like it. Now it doesn't work even with a fresh profile with normal settings. The response header says the license for my device was revoked. It works fine on Edge, but I don't reall

[2021-12-11 07:07] icy0007 opened #2488 "What should be adapted to make Waterfox more user friendly"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-11 07:35] icy0007 commented on #2488
Addresbar
- the size of the fonts is to small, mayby possibility to change the size
- when pointing at the addressbar  a lot of links become available,those should only be available  when adding shift key
History
- ctrl + H ??
- should work like in other browser
Extensions
- Put an icon on the addresbar that opens all the extension ,so that it is easy to switch on/off
Saving
- Message when dubble

[2021-12-11 21:24] EuropicDrifter opened #2489 "Add Windows Gestures Support"
**Is your feature request related to a problem? Please describe.**
Out of habit from other browsers, I tend to use the windows 2 finger swipe right/left to go back/forward.

**Describe the solution you'd like**
I'd like to see the Windows Gestures implemented as it is done in other browsers

**Describe alternatives you've considered**
Some extensions allow for gestures but i haven't had any succes

[2021-12-11 22:50] 0scvr opened #2490 "Spotify not working on G4.0.4"
### What happened?

Spotify on the web doesn't work in Waterfox G4.0.4 (64-bit). It will skip songs and sometimes play the 9 first seconds of a song before stopping. The issue seems to be related to DRM.

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

macOS

### Relevant log output

_No response_

[2021-12-12 11:53] adamp01 commented on #2490
@devstra  - there have been reports of G4.0.4 being slow to update Widevine, which had caused issues with DRM content in the previous release. Would you be able to do the below and report back:
1. Go to about:plugins and find your Widevine version
If it's less than `4.10.2391.0` then:
1. Go to about:addons
2. Head to the "Plugins" section
3. Click the cog and "Check for Updates"
4. Update Widevine

[2021-12-12 14:39] 0scvr commented on #2490
Thanks for taking the time to help @adamp01! I've checked my Widevine version as you suggested and I am indeed using the latest version (4.10.2391.0) as of this writing. I tried using Spotify again but I just get the same issue. Let me know if there is anything else I can do to help.

[2021-12-13 04:06] PatG1958 opened #2492 "Certificate Authentication Failure after updating to G4.0.4"
### What happened?

The following happens when trying to connect to a Microsoft address but other non-microsoft addresses seem to work. Only started after I upgraded to G4.0.4 this morning. Any pointers would be appreciated. My IT says all my certificates are up to date and good... The URL works in Chrome no problem.....
================================
Secure Connection Failed

An error occurred

[2021-12-13 07:59] wbak1102 opened #2493 "Google search suggestions"
Why is not there ? can be repaired.

[2021-12-13 09:04] adamp01 commented on #2493
@wbak1102 - this has been fixed for the next release.

[2021-12-13 09:06] MrAlex94 commented on #2490
@devstra, sadly Spotify has had issues with Waterfox going back a few years. I never was able to figure out why it has the strange errors that it does. Even a user agent override doesn't seem to work.

[2021-12-13 09:09] MrAlex94 commented on #2462
Should be fixed in https://github.com/WaterfoxCo/Waterfox/commit/d913610.

[2021-12-13 09:09] #2462 closed, assigned to nobody

[2021-12-13 09:09] MrAlex94 commented on #2487
Hi,

Could you try running Waterfox in [Troubleshooting Mode](https://support.mozilla.org/en-US/kb/diagnose-firefox-issues-using-troubleshoot-mode?redirectslug=troubleshoot-firefox-issues-using-safe-mode&redirectlocale=en-US#w_how-to-start-firefox-in-4troubleshoot-modesf5safe-modesf) and then navigating to the website to test if it works?

If not and you feel comfortable doing so - maybe try a [fr

[2021-12-14 13:19] suamor commented on #2492
This is a missing feature on mozilla side:
https://bugzilla.mozilla.org/show_bug.cgi?id=966856

It would be good to coordinate any implementation on this occasion with mozilla.

[2021-12-14 18:46] A0R-R0CKS opened #2495 "Waterfox G4.0.4 failure to run and Install on Windows 7 64 Professionl with 16gb Ram 3.02 GHZ Quad Core Amd PC"
### What happened?

This version will not install and Run when Installed on Windows 7 Professional 64 Bit with 16 Gig Ram
and an Quad Core 3.02ghz AMD Cpu and 2Gig Ati Video Card.

This version has so many bugs with it

On my Windows 10 Professional Laptop it also Crashes when Installed
Also damages again the Widevine Codec

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.

[2021-12-14 23:56] valinet commented on #2492
It goes to show how much Microsoft cares about open source. Like, they could have pinged Mozilla and let them know they are about to do this and give them a few days, or God forbid, even make a contribution themselves. But like, why do that, when you can silently and as fast as possible do this, and hopefully a few unknowing people also switch to Microsoft Edge in the meantime? I mean, for corpora

[2021-12-15 08:51] adamp01 commented on #2492
We'll monitor the Mozilla bug and pull in the patch as soon as it is ready.
As mentioned in the bug, you can set `security.ssl.enable_ocsp_stapling` preference to false in about:config to access the sites that are currently erroring. I'm not recommending this is something you should do, just making you aware of what you can do.

[2021-12-15 08:53] adamp01 commented on #2486
@freebian666 - Unfortunately a fix for this is going to be quite a bit more complicated than I initially suspected, so it's going to be a while before we can get to this. We are aware of it and are tracking it internally.

[2021-12-15 12:14] adamp01 commented on #2454
I've found the issue and will be doing a PR so this is fixed in the next release.

[2021-12-15 12:44] freebian666 commented on #2486
@adamp01 - Okay, thanks for the info and your work!

[2021-12-15 13:41] MrAlex94 commented on #2398
https://github.com/WaterfoxCo/Waterfox/commit/270e8b3c5145950aa773f8a52f4187f27c113f02

[2021-12-15 13:41] #2398 closed, assigned to nobody

[2021-12-15 13:42] #2454 closed, assigned to adamp01

[2021-12-15 13:43] #2484 closed, assigned to nobody

[2021-12-15 16:01] yashpalgoyal1304 commented on #234
https://github.com/WaterfoxCo/Waterfox/issues/143

[2021-12-15 21:40] IzzySoft commented on #143
Sad, but we had to close the request. Should WF finally be ready for F-Droid, just give us a ping and we gladly assist.

[2021-12-17 17:23] Marekx89 commented on #2458
its not work, top below address bar is hiding, see attachment
![obrazek](https://user-images.githubusercontent.com/66966848/146583551-2c66a34b-4618-4132-806f-9f1816f41660.png)

[2021-12-17 19:10] wkuzma opened #2499 "xfinity stream"
### What happened?

A bug happened!

Please download the latest browser version.

Before upgrading to the latest browser version, ensure you're on a supported Operating System.

i get this when I try to watch  xfinity stream at https://login.xfinity.com/login

all other browsers do not give this error
i am using 2921.10 (64-bit) waterfox

### Reproducible?

- [ ] I have tested this on Firefox.

##

[2021-12-18 03:54] thecreator1965 commented on #2481
Hi Objectivite,
Failed too.

[2021-12-19 00:31] wkuzma commented on #2499
since there is no answer you can disreguard this I uninstalled waterfox

[2021-12-19 03:09] molitar opened #2500 "Unable to play embedded webm"
### What happened?

I have tried a new install of Waterfox Classic and a safe mode start of Waterfox G3 as well as new profile. Neither is able to play this webm video. Firefox and Chrome plays the video just fine. Waterfox will not at all.

SFW video:
https://www.webmfiles.org/demo-files/

NSFW:
https://chan.sankakucomplex.com/post/show/29651114

Both file types report 'Video can not be played be

[2021-12-19 06:20] thunderstone135 commented on #2478
I'm also experiencing this along with big space between tabs.

![Untitled](https://user-images.githubusercontent.com/96173732/146665955-3be244c2-ee67-4e7c-8541-142faf367b5e.png)

This happens whether I'm using an addon or not because I tried it with all addons disabled.

[2021-12-19 23:25] skooter7 opened #2501 "Dark themes incompatible with bottom Tab Bar position option - Tab bar looks white and blends letters and backround color together making tabs invisible"
### What happened?

![Clipboard Image (1)](https://user-images.githubusercontent.com/96396657/146694603-95036fe0-ef94-4712-9e4a-881752e6ff26.jpg)

As you can see other than the highlighted tab all other tabs seem invisible and the tab bar has that white color. When the tab bar is at the top it looks perfectly normal

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Futur

[2021-12-19 23:39] OgreVorbis opened #2502 "Refresh page only allows "Resend" or "cancel" - need "Don't Resend""
When refreshing a page with data on it, Firefox/Waterfox would give you an option to resend the data or not. The only option is "Resend" and "cancel". Cancel does nothing and just closes the popup window, while resend forces you to resend the data. There is no way to refresh the page cleanly and not resend data. I end up having to copy url, close tab, and reopen the tab again.

I believe the firef

[2021-12-20 09:44] adamp01 commented on #2501
Thanks for raising this. I'll push a fix ASAP.

[2021-12-20 17:29] adamp01 commented on #2492
We are going to pull the fix in for the next release (should be tomorrow).

[2021-12-21 02:03] BatEldritch commented on #2490
I'm having an issue that is similar  My Spotify volume gets effected, when its running I can barely hear my music, and when I closer it, my sound goes back to normal;

[2021-12-21 02:33] A0R-R0CKS commented on #2495
Tried the the Waterfox for Windows G4.0.5 for Windows on Betanews.com
Same thing this refuses to install on Windows 7 guess this is not going to be resolved.
Also the auto update mode should not be default should be manually activated same for the Addons

[2021-12-21 08:28] lopsbud opened #2505 "Wrong time zone"
### What happened?

Websites display the wrong time even after I set privacy.resistFingerprinting to false

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-12-21 13:36] thunderstone135 opened #2506 "Change Lepton Theme Status Bar Text Color"
**Is your feature request related to a problem? Please describe.**
Hi, is it possible to change the Lepton Theme status bar color from grey to white?

From this:
![Untitled1](https://user-images.githubusercontent.com/96173732/146937459-07a17876-6444-4841-a9d2-e66531153c70.png)

To this:
![Untitled2](https://user-images.githubusercontent.com/96173732/146937487-dea37e24-89d8-41f4-883a-97944a458afb.p

[2021-12-21 15:41] adamp01 commented on #2501
https://github.com/WaterfoxCo/Waterfox/pull/2503

[2021-12-21 15:41] #2501 closed, assigned to adamp01

[2021-12-21 15:42] adamp01 commented on #2492
Should be fixed with G4.0.5.1

[2021-12-21 15:42] #2492 closed, assigned to adamp01

[2021-12-21 15:44] adamp01 commented on #2419
https://github.com/WaterfoxCo/Waterfox/pull/2494

[2021-12-21 15:44] #2419 closed, assigned to adamp01

[2021-12-21 15:49] adamp01 commented on #2380
Google is fixed: https://github.com/WaterfoxCo/Waterfox/pull/2479

[2021-12-21 15:50] #2380 closed, assigned to adamp01

[2021-12-21 15:52] #2377 closed, assigned to nobody

[2021-12-21 15:53] MrAlex94 commented on #2406
Status bar issues should be resolved.

And YouTube icon will be hidden behind the "a video is playing in this tab" icon, by design.

[2021-12-21 15:53] #2406 closed, assigned to nobody

[2021-12-21 15:55] #2180 closed, assigned to nobody

[2021-12-21 15:58] adamp01 commented on #2323
Have added these now in this PR: https://github.com/WaterfoxCo/Waterfox/pull/2498

[2021-12-21 15:58] #2323 closed, assigned to adamp01

[2021-12-21 15:58] MrAlex94 commented on #2129
Sadly NPAPI implementation going forward has become incredibly difficult and this will have to be closed.
I do apologise that there is no resolution for this issue.

[2021-12-21 15:58] #2129 closed, assigned to nobody

[2021-12-21 15:58] MrAlex94 commented on #2237
https://github.com/WaterfoxCo/Waterfox/issues/2129#issuecomment-998897678

[2021-12-21 15:58] #2237 closed, assigned to nobody

[2021-12-21 15:59] MrAlex94 commented on #2360
https://github.com/WaterfoxCo/Waterfox/issues/2129#issuecomment-998897678

[2021-12-21 15:59] #2360 closed, assigned to nobody

[2021-12-21 17:13] Objectivite commented on #2419
Thanks Adam - All Good.

O.

[2021-12-21 17:19] Objectivite commented on #2323
Thanks Adam.

O.

[2021-12-21 21:34] skooter7 commented on #2489
Native gesture support also helps with new tabs (speed dial for example) and other kinds of tabs where mouse gestures aren't supported by mouse gesture add-ons.

[2021-12-22 02:41] ghost opened #2507 "favicons are not in sRGB"
### What happened?

icons in tabs are not in sRGB format while everything else is (icons inside menu are probably not in sRGB too)

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-12-22 02:44] ghost commented on #2507
<img width="181" alt="srgb" src="https://user-images.githubusercontent.com/66422760/147026501-5fdd8580-c525-450e-9f1e-1f54d53f8afe.png">

top waterfox bottom microsoft edge

[2021-12-22 10:00] skooter7 opened #2508 "Please add native speed dial support"
Firefox's "speed dial" is pretty bad and annoyingly convoluted imo. There's an extension called Speed Dial 2 that does it almost perfectly,  you should check it out. They have great customization so that you can appoint as many rows and columns of bookmarks as you want, plus there's an option to either automatically screenshot the site so that it shows in speed dial or it automatically picks the p

[2021-12-22 10:40] dcexpat opened #2509 "Add-ons evaporated"
### What happened?

A bug happened! Upgraded to G4.0.5.1 today and none of the 4 add-ons I use load or function. Forget Me Not says it needs containers even though containers are enabled. Last Pass, Duckduckgo Privacy Essentials, and Copy Me That, along with Forget Me not only do not function, the icons fail to appear in their usual location next to the search bar. As to your question regarding Fi

[2021-12-22 11:01] ckroenicke opened #2510 "Notification about DRM copy protection between address bar and tab bar"
### What happened?

A bug happened!
I am using my Waterfox with the tab bar below the address bar (both on the top).
Since updating to Waterfox 4 the message to active the DRM copy protection is displayed between adress bar and tab bar.
![grafik](https://user-images.githubusercontent.com/24443540/147082305-1e348bcf-90e5-4fcd-983b-ea1c1aa06409.png)

I expected that message to be displayed below the

[2021-12-22 11:49] adamp01 commented on #2509
@dcexpat - Would you be able to open the browser console (Ctrl + Alt + J) and copy the logs here please? If you scan through you should be able to see some relevant output when you attempt to install one of the addons you mentioned.

[2021-12-22 12:54] amerigena opened #2511 "Can't open weblinks in Thunderbird 91.3.2 in Waterfox G4.0.5.1"
### What happened?

Internal email links in Thunderbird will not open w Waterfox (this has affected all versions; updates do not affect the issue) when it's set as default browser. Links open w any other (Chrome, Firefox, Vivaldi) set as default.

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Linux

### Releva

[2021-12-22 19:05] elaine-jackson opened #2512 "Help > About Waterfox links to Mozilla and not Waterfox Websites"
### What happened?

If you click Help > About Waterfox, you'll see a popup. The line "Want to help, Make a Donation or Get Involved" links to Mozilla's donation website and to Mozilla's contributing website. I don't know if Waterfox accepts community funding, but I think those links should go to Waterfox specific resources. (E.g. The GitHub repo and if applicable your donations page). Thoughts?

#

[2021-12-22 19:32] Lewistheshrk opened #2513 "Cannot add certain search engines to waterfox"
### What happened?

on version G4.0.5.1

For some reason I cannot add some search engines.
When on some websites like github or youtube the magnifying glass shows the little plus to add the pages search bar as an option.
websites like bing, google and wikipedia don't show the icon to add the search engine.

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### Wh

[2021-12-23 13:37] dcexpat commented on #2509
Screenshot attached. I guess I wasn't clear. The add-ons are not newly installed. They were installed many, many versions ago. I know you hear this all the time. This time it's true. I didn't change anything except perform the update to Waterfox.
![image](https://user-images.githubusercontent.com/96524673/147247985-eb10edf4-de20-4ed3-a936-b56c7ac5828c.png)

[2021-12-23 15:00] nevinpuri opened #2514 "Remove emoji from restart button in menu"
![image](https://user-images.githubusercontent.com/39220032/147257493-600a6593-d029-4f3f-9990-c93441b47300.png)
Looking at this menu, the restart button looks really out of place. I'd suggest removing the emoji to make it more uniform with the rest of the items.

I'm curious as to what you guys think, as I could be wrong as well.

[2021-12-24 06:52] dcexpat commented on #2509
Subsequent to the previous message, I disabled LastPass and restarted Waterfox. That generated a firestorm of activity in the log, more than will fit in a screencap. Then I re-enabled LastPass and and a half dozen new entries appeared in the log. Would be happy to send the log file if I knew the name and location. Thanks. (I'm willing to accept that I'm an idiot for not knowing more than I do)

[2021-12-24 08:29] Objectivite commented on #2514
I disagree - it matches the **Windows 10**  Start Menu - it is a small visual reminder that you are about to do something drastic (aka - restarting means you might lose all your open tabls depending on how you restart), etc...

Well done on the developers for me.

O.

[2021-12-24 12:53] taciturnaxolotl opened #2515 "Appimage Release"
**Is your feature request related to a problem? Please describe.**
There is no Appimage release which makes releases more clunky and harder to install for newbies or someone who wants to try waterfox quickly.

**Describe the solution you'd like**
I would like a Appimage released with the other releases.

**Describe alternatives you've considered**
Packaging as a .deb or .rpm file.

**Additional co

[2021-12-24 12:55] manfromarce commented on #942
Sorry if I reopen this, but as Firefox is now on the Microsoft Store (packaged as MSIX) I think it should be possible for Waterfox too.

[2021-12-24 13:36] #2515 closed, assigned to nobody

[2021-12-24 13:37] taciturnaxolotl commented on #2515
I found this repo that does what I was asking [https://github.com/hawkeye116477/waterfox-deb-rpm-arch-AppImage](https://github.com/hawkeye116477/waterfox-deb-rpm-arch-AppImage). Sorry for taking up anybodies time.

[2021-12-24 16:46] adamp01 commented on #2509
@dcexpat - That is exactly what I need to be able to debug this for you. You should be able to just select it and copy paste it either here, or in a [gist](https://gist.github.com/). If you could do that for me I can start investigating, as I have tried to replicate the issue by migrating from G4.0.4 to G4.0.5.1 with no luck. Unfortunately a fix for this isn't going to come until next week in a be

[2021-12-24 17:33] EmmanuelMess opened #2516 "Better animations for moving tabs from/to windows on Ubuntu"
### What happened?

Moving tabs from and to windows can be very clunky, especially when the new tab is in a window in front of the windows you want to put it in. I would be nice if there were a redesign of the UX in that aspect oriented around speed and ease of use.

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on

[2021-12-25 03:41] thunderstone135 commented on #2514
That's odd. I'm using the latest version (4.0.5.1) and I have this:

![Untitled](https://user-images.githubusercontent.com/96173732/147376840-eca199ec-aeab-4ee1-9296-5a305bcbe053.png)

Are you using a different version? Or a custom userChrome.css?

[2021-12-25 10:22] Objectivite commented on #2514
Thanks Thunderstone135.

This Feature Request Thread is now becoming a Bug post.

I am on 4.0.5.1 and I do not have a  userChrome.css and mine is like Nevin1901's :+1:

![image](https://user-images.githubusercontent.com/89191739/147382957-ed9252ad-fe86-44c5-a4dd-6659e660e4ef.png)

O.

[2021-12-25 10:24] Objectivite opened #2517 "Waterfox 4.0.5.1 -- Inconsistency in menu look across users/platforms ?"
### What happened?

See feature request #2514

O.

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-12-25 10:48] dcexpat commented on #2509
@adamp01 Thank you for your help. I am grateful May your holidays are everything you hope for and more.

[waterfoxlog.txt](https://github.com/WaterfoxCo/Waterfox/files/7775730/waterfoxlog.txt)

[2021-12-25 14:01] thunderstone135 commented on #2514
And the plot thickens. LOL. Anyway, I tried playing with the themes and I'm still getting the same one I posted above (only with different color). There's most likely a problem with the update process. The omni.ja (inside the browser folder) file is probably not getting updated properly.

[2021-12-25 16:25] adamp01 commented on #2514
Hi guys - Lepton should give an appMenu like @thunderstone135, Firefox Proton and Waterfox Australis themes will give like @Nevin1901 and @Objectivite. See examples here (from Mac - the "Restart" item isn't added to the appMenu on Mac btw):
Lepton:
<img width="297" alt="image" src="https://user-images.githubusercontent.com/47503375/147389289-456511ff-4d43-47d2-b0ef-4f453e9f1365.png">
Proton and Au

[2021-12-25 16:28] Objectivite commented on #2514
Thanks for the answer Adam.

All makes sense now.

I'll close the Bug I opened for this.

O.

[2021-12-25 16:29] Objectivite commented on #2517
No bug.

Adam has explained the reason in #2514

O.

[2021-12-25 16:29] #2517 closed, assigned to nobody

[2021-12-25 16:29] adamp01 commented on #2509
@dcexpat - Do you know which version of Waterfox you were on prior to the update here?

Happy holidays to you too!

[2021-12-26 03:29] dcexpat commented on #2509
@adamp01 Honestly, I can't say for sure. I presume it was the immediately prior version. With browsers, for security as well as feature reasons, I tend to respond immediately (well, within minutes of first seeing it) to the update notices that pop up. It's possible I skipped one but the odds of that are about equal to those of winning the powerball.

[2021-12-27 04:11] erbenson opened #2518 "Support for MacOS Keychain, or APIs to allow an extension"
Requesting that Waterfox add support for the MacOS Keychain so it can access and store logins there instead of it's own proprietary system.

There is a Firefox extension which does this called Keychain Services Integration, however it was rendered useless in Firefox 57+ when the necessary APIs were removed.  There are numerous requests to implement necessary APIs in the new Webextension framework

[2021-12-27 14:18] rthom91 opened #2519 "Rendering flicker when scrolling"
### What happened?

This issue does not exist on Waterfox 3.x. This issue also affects latest Firefox. I've submitted a bug report to Mozilla as well.

When duplicating screens using an El Gato (HD60S+) capture device, a major rendering issue appears when scrolling. It seems to be most visible on websites like Facebook and Youtube.

Video: https://www.youtube.com/watch?v=CCHIBFEonT0

### Reproduci

[2021-12-27 15:07] Objectivite commented on #2519
I second this - it is very visible on **YouTube** when you to go the YouTube homepage and simply scrolls through what YouTube is offering you today.

And, indeed, it happens in Firefox too.

I never reported it myself because I felt it might be something to do with the  **AdBlock Plus**  addin which I use in both Waterfox and Firefox, although I also have that addin in Microsoft Edge and Edge hand

[2021-12-27 15:11] Objectivite opened #2520 "Waterfox 4.0.5.1 -- about:cache incorrectly reports Disk Cache figures when disk caching is disabled and all caching put to RAM"
### What happened?

Hello,

I set this setting to **TRUE**
**browser.cache.memory.enable**

and this setting to **FALSE**
**browser.cache.disk.enable**

With that configuration  about:cache  incorrectly reports the Disk Cache (it gives it the same figures as the Memory Cache).

![image](https://user-images.githubusercontent.com/89191739/147484356-9c214389-510c-4ab7-ab5d-1894975c4289.png)

O.

###

[2021-12-27 22:58] WDenda commented on #2452
@adamp01
Thank you very much for caring about this, you made Waterfox usable for us, again.

I checked this issue just now with G4.0.5.1 and two windows open with five different tabs each on W11Pro 64bit, it seems to be fixed. I'm happy again.

[2021-12-28 01:08] nofishonfriday opened #2521 "updated to wf-003 - 1.0: tabs aren't displayed"
### What happened?

Hi,

I just updated to wf-003 - 1.0, it asked me to choose a theme on startup, chose dark theme, and now open tabs don't display.
Well I have the tab bar showing (I think), but no open tabs display.
Please see screenshot:
![wf](https://user-images.githubusercontent.com/7658194/147517004-cb819106-0211-4a4f-a7e8-fcbbac22afe2.jpg)

edit:
I noticed the tabs are there but misplaced

[2021-12-28 10:50] RJVB opened #2522 ""Classic" dialogs"
Probably more of a question than a feature request: is there a way to bring back the "classic" popup dialogs with that use the OS' widget theming instead of these new non-buttons that are way too large, look alien and use a fugly blue background colour?

FWIW, I'm currently running the browser via hawkeye's appimage build because my glibc isn't new enough to do otherwise - but I suppose that shoul

[2021-12-28 12:18] Objectivite commented on #2521
Hmmm,

The problem you have is that you updated to a version prior to 4.0.4 when Adam corrected all the tabs and tab bar problems (they all work beautifully now).  And then you updated again to 4.5.0.1.

If you'd updated directly to 4.5.0.1 you probably would not have had this.

From experience, once you are in this mess, the only way you can correct it is to do  **about:profiles**  and create a n

[2021-12-28 14:44] AgentoUno opened #2523 "Extensions don`t work after last update"
### What happened?

Hi!

Al extensions are enabled, none of them work.
![extensions waterfox](https://user-images.githubusercontent.com/96782139/147576583-7082a8af-d958-4e8d-b782-7a1297597d06.jpg)

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-12-28 18:02] nofishonfriday commented on #2521
Hi,
thanks for the quick reply.

Well, that's what the auto-updater offered me, I didn't download and install it manually (I don't know which version I was running prior to that though).

Anyway, I have done a Waterfox refresh meanwhile and things are back to normal, though I've lost all my extensions and their configs which was a bit unpleasant.
Closing as solved.

[2021-12-28 18:02] #2521 closed, assigned to nobody

[2021-12-28 20:31] A0R-R0CKS opened #2524 "How do I dissable Waterfox Update Notification"
### What happened?

After Having a disastrous time with latest G4 update still not working and then messing up everything,
I went back to G3.2.6 and had to quickly disable the auto update settings.
Now every time I open up waterfox it still gives me alerts there is an update I dont want to see them how
do I disable that.

I do not even want it to check for updates till I am ready so how do we stop

[2021-12-29 11:44] Objectivite commented on #2524
Create a folder called  "distribution"  in your Waterfox G3 install folder, unzip the attached Zip file into it and that will do it.

From then on you will not be prompted for updates and it will not update - if you go to  **"Help \ About Waterfox"**  you will see this (except that yours will say  "Version 3.2.6").

You can check the file @ www.virustotal.com.

![image](https://user-images.githubu

[2021-12-30 15:17] Radiowhiz opened #2525 "Certain Videos Do Not Play"
### What happened?

In G4.0.5.1 and in earlier versions (Windows 10) certain videos display with a > button and when pressed a Pause bar is displayed, along with the 10 second back and forward arrows, but there is no progress bar and nothing is played.  A thumbnail of the videos (this one from CNN) shows a "Now Playing" banner.  I have disabled all of the extensions/add-ons and tried it in Develop

[2022-01-01 03:36] jlturriff opened #2526 "Waterfox only restores one window after a restart."
### What happened?

After logging off my GUI session and later logging on again, when I start Waterfox, only one of the windows that were active before is opened, until I send a link from an outside source (e.g. my mail reader), at which time all of the previously active windows reappear (usually, but not always on their original desktops).
I believe that this started happening with the version of

[2022-01-04 11:03] adamp01 commented on #2506
Status text will default to be more visible, option in about:preferences to maintain existing behaviour.
https://github.com/WaterfoxCo/Waterfox/pull/2527

[2022-01-04 11:03] #2506 closed, assigned to adamp01

[2022-01-04 11:24] #2524 closed, assigned to nobody

[2022-01-05 12:24] phyco1991 opened #2529 "Waterfox G4.0.5.1/G4.0.6 AVIF Image Loading Issue"
### What happened?

Image embeds containing arguments in the URL from imgix.net do not load in Waterfox G4.0.5.1

Error message is "The image "URL" cannot be displayed because it contains errors."

Not reproducible in Firefox or Chrome.

**Working example -**
https://plecom.imgix.net/bo-669168-1329.jpg

**Non-working example -**
https://plecom.imgix.net/bo-669168-1329.jpg?auto=format

### Reproduc

[2022-01-05 23:23] afzl-wtu opened #2530 "Improved Downloading"
No other browser support download videos and mp3 from youtube and other streaming website, except third-party paid  softwares and extra extensions. Everyone want such a browser which has built in features. You can check people asking on different websites.
Specially on Linux there is no good downloader except XDM. It is also outdated now.
So please add feature to download videos from stream websit

[2022-01-06 07:54] steveatx opened #2531 "Tooltips do not disappear after page navigation"
### What happened?

Ever since a release that was put out sometime last year, perhaps around summer 2021, I have noticed that any tool tips displayed on a page element at the time you navigate to another page, will not disappear, and remain visible until you close the browser.  I can reproduce this fairly regularly, following these steps:

1.  Open a web page that has a text input that displays a

[2022-01-06 08:33] AngborTim commented on #1128
The same issue

Linux Big 5.4.0-72-lowlatency #80-Ubuntu SMP PREEMPT Mon Apr 12 18:37:24 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
ldd (Ubuntu GLIBC 2.31-0ubuntu9.3) 2.31
Copyright (C) 2020 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
Written by Roland McGrath and

[2022-01-06 10:46] hawkeye116477 commented on #1128
@AngborTim From your log, seems that's rather different problem. Official Waterfox G4 requires SSE4.2 instruction support in CPU and seems that your CPU doesn't support that. However there is solution for you other than buying new CPU => just use one of my packages following https://github.com/hawkeye116477/waterfox-deb-rpm-arch-AppImage/blob/master/README.md.

[2022-01-06 12:30] AngborTim commented on #1128
thanx, I'll check it

[2022-01-07 19:04] LOuroboros commented on #1746
It's been more than a year, so I feel the need to ask; is this still completely out of question, @MrAlex94?

Sadly, the last time I tried the 64bit build of Waterfox it was considerably sluggish compared to the builds of Firefox *(be it the 32bits or the 64bits ones)*, and being a fork of Firefox, I fear that they may also have the same problem with the RAM on certain hardware combos that 64bit bu

[2022-01-08 07:40] SEE-ICT opened #2532 "Session Manager does not work nor does it appear in the toolbar"
### What happened?

After upgrading Classic to G4 and starting G4, Session Manager did not offer to restore the previous (Classic) session.

Session Manager appears as an extension and is enabled.

Session Manager does not appear on the toolbar.

SM is not available in the toolbar customization dialog.

Disabling SM, closing Waterfox and re-enabling SM, does not result in SM working.

### Reproduc

[2022-01-08 07:56] SEE-ICT commented on #2352
G4.0.5.1 breaks Tree Style Tab on Windows 10, too. At least for me. After an upgrade from Classic.

[2022-01-10 02:22] zqqw opened #2533 "Occasional crashes on eBay paying with PayPal"
### What happened?

Sometimes it works OK but when I go to checkout on eBay and select PayPal then copy the password and paste it into the field the browser crashes. Restarting restores the tabs. Sometimes if I keep only the small PayPal window in view and hide the main Waterfox window behind another it works, and possibly also re-copy the password and try again, it works. Perhaps it is just a cas

[2022-01-11 13:23] dcexpat commented on #2509
Hello @adamp01. I get it. I'm only one person and this seems not to be affecting scads of Waterfox users which means I am, appropriately, not high on the priority list. No harm, no foul. Unfortunately, It also means that without these few add-ons functioning, I will have to stop using Waterfox, much to my regret. I wish you and the team well and look forward to rejoining your user base.

[2022-01-12 04:59] firefoxneedsmultirow opened #2535 "installing G4.0.5.1 (64-bit) Post all passwords,"
### What happened?

installing G4.0.5.1 (64-bit) Post all passwords,
It is not an upgrade when all passwords are lost.

can they be recovered?.

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Relevant log output

[code]

[2022-01-12 10:10] MrAlex94 commented on #2535
Hi, what version did you upgrade from?

Is it just passwords that are missing?

[2022-01-12 15:21] Yay295 commented on #2529
The first URL fetches a JPG image, while the second fetches an AVIF image. Waterfox seems to be having problems with AVIF images.

[2022-01-12 15:23] Yay295 commented on #2500
Both videos play in G4.0.5.1 for me.

[2022-01-12 18:23] TheOncomingStorm opened #2536 "Waterfox G4 freezes(randomly?) on file save"
### What happened?

I'm using G4.0.5.1 (64-bit) on Arch/Artix Linux.

At some seemingly random point after starting Waterfox G4, if I attempt to save a file, even if it's a file type that can be automatically downloaded without a dialog, Waterfox will freeze and be unresponsive. To make it worse, once this happens it requires a full reboot of my system if I want to save a file again. I have tested

[2022-01-12 19:09] firefoxneedsmultirow commented on #2535
I do not know the prior version
but typically water fox updated automatically when I exited it and restarted it automatically

book marks, all tabs kept

but then going to settings - saved logins  I get
________________
Looking for your saved logins? Turn on sync or import them.

If you saved your logins to Waterfox on a different device, here’s how to get them here:

    Create or sign in to your

[2022-01-14 06:33] RektalTk opened #2537 "How to update on Linux to the latest version <SOLVED>"
### What happened?

I have got G4.0.5.1 on Linux. About Waterfox shows info that  is up to date.
I am currently on the default update channel.
But the latest version is Waterfox-G4.0.6.en-US.linux-x86_64.tar.bz2.
How to update to the latest version on Linux?

I am using Firefox too but browser is updating from repositories.

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.

[2022-01-15 05:10] firefoxneedsmultirow commented on #2535
It is amazing no one from Water fox even cares to monitor bugs like this.

It is very important when the login list disappears when an upgrade occurs.

If you see this and are thinking of using waterfox,  ------STAY WITH FIREFOX  do not make my mistake!!!!!!!!

[2022-01-16 12:23] ShadowElixir opened #2538 "Waterfox can't update by itself"
### What happened?

Whenever Waterfox tries to update, it fails and gives me an error, the only way to update Waterfox is to update manually.

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2022-01-17 04:32] DonielMoins opened #2539 "[G4.0.6] Inexplicable `Paused on XMLHttpRequest`"
### What happened?

#A bug happened!

A “Paused on XMLHttpRequest” breakpoint triggers with no breakpoints set. It is… very annoying when I have to work with web sockets on a daily-basis.

So this happens when I open the “DevTools” menu and open either the debugger or the Network tab.
I used my same FF sync account on another Waterfox instance (same version) on a Windows machine, out of desperatio

[2022-01-17 04:37] DonielMoins commented on #2539
Adding upon the "Can't find profile directory" error.
`23:34:33.099 Error: Can't find profile directory. 2 XULStore.jsm:66:15
    load resource://gre/modules/XULStore.jsm:66
    XULStore resource://gre/modules/XULStore.jsm:24
    enter resource://devtools/server/actors/utils/event-loop.js:79
    enter self-hosted:1175
    _pushThreadPause resource://devtools/server/actors/thread.js:334
    _pauseA

[2022-01-17 08:35] kreeben opened #2540 "When you've closed your last tab, browser should show blank page upon restart"
When you have set up Waterfox to restore previous session on startup but in your last session you closed all your tabs, the most reasonable action for the browser to take upon restart is to show a blank page. This was implemented in FF around version 90 (perhaps even earlier).

[2022-01-17 08:41] herod2k commented on #2529
Same problem here, drop.com suddenly stopped to show all the images (E.g. https://massdrop-s3.imgix.net/product-images/poseidon-linear-custom-mechanical-switch/FP/9pysndAkTWOQF1h4RCnX_0798_copy.jpg?auto=format&fm=jpg&fit=fill&w=120&h=80&bg=f0f0f0&dpr=2&q=35). I was going to open a bug report but I saw this and I've realized that is related to imgix and the parameters on the url.

[2022-01-17 13:46] falzm commented on #2529
Also experiencing this issue with PNG images and Waterfox G4.0.6 (macOS Intel), e.g.:

* https://www.datocms-assets.com/50397/1641216276-personnalmanagement.png?auto=format&dpr=1&w=112
* https://axeptio.imgix.net/2019/01/Cookie-jetpack-vide.png?auto=format&fit=crop&w=170&h=auto&dpr=1

[2022-01-21 17:27] xbbdc opened #2541 "Duo Device Health - not working"
### What happened?

Trying to get Duo Device Health to work but not working correctly in Windows.
Both Edge and Firefox work. Waterfox and DDH not talking to each other correctly? idk

I just downloaded and installed Waterfox today (1/21). Also tried reinstalling DDH.

WF v4.0.6

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing t

[2022-01-22 19:36] VasudeoSinha opened #2542 "grouping tabs"
I think so you must make a tab grouper to understand it better just see the video attached thank you

https://user-images.githubusercontent.com/90196804/150653083-c9a2367c-315d-409a-8ecc-a9b8ea8621bd.mp4

[2022-01-23 20:25] UserMisterV opened #2543 "Not save logins/passwords CLOSED, NOT WORKING!!! Downgraded, installed latest Classic (all passw. ok), upgraded to G4, passwords empty!!! Problem NOT solved! Still!"
### What happened?

Hello!

After updated old version (56.2.10.7080) to latest 91.5.0.8046 (G4.0.6) not save logins. (System: Win7X64)

The problem:
After type login data, question: Save password? YES.
Settings, saved logins: EMPTY
Visit again this "saved login" site, retype again, save password? Yes...
Settings, saved logins: EMPTY

Not tested master password usage, all known main passwords not e

[2022-01-24 00:13] anonvoy commented on #2529
I have the same problem with images from berliner-zeitung.de (Waterfox G4.0.6, Linux):

From https://www.berliner-zeitung.de/news/cdu-politiker-vaatz-fordert-ruecktritt-der-gesamten-zdf-fuehrung-li.207700:

* https://berliner-zeitung.imgix.net/2022/01/23/bfe0a01c-307c-40ef-891b-c1a2e8de8130.jpeg?rect=1%2C0%2C4760%2C3173&w=1024&auto=format is the image used in the article - AVIF format, it's not sh

[2022-01-24 10:57] MrAlex94 commented on #2543
Hi there!

Between Waterfox 56 → G4, the password database format changed.

The best way to “upgrade“ between these version is to go Waterfox 56 → [Waterfox Current 2020.10](https://cdn.waterfox.net/releases/win64/installer/Waterfox%20Current%202020.10%20Setup.exe) → Waterfox G4.

Waterfox Current will upgrade the password database when it detects it, then G4 will make use of the newer database.

[2022-01-24 10:57] #2543 closed, assigned to nobody

[2022-01-24 11:01] UserMisterV commented on #2543
Ok, how to dowgrade to 56?

[2022-01-24 14:37] MoemUT commented on #2535
I tried to migrate from Classic to G4 and am having similar problems. I had most of my passwords also in Firefox and tried to import them but they did not appear. I also could not enter my master password.
But: in troubleshooting mode, all the FF passwords appear and the master password works as normal.

If I disable all add-ons, and start WF in normal mode: no passwords.

[2022-01-24 18:14] THEtomaso commented on #1708
Thought I'd give Waterfox a try just now..
After installing, before I even got to launcing the browser itself, setup.exe immediately tried to connect to Google Cloud @ 34.120.208.123 !
For this reason, I uninstalled it.
Might give it another try, if these connection/privacy issues gets resolved.

[2022-01-24 21:53] mukhumaev opened #2544 "[G4.0.6] Typo 'Firefox' in 'Problem loading page'"
### What happened?

If an error occurs during the page opening, the text with the word Firefox is displayed.

![6a2Pdnv](https://user-images.githubusercontent.com/47594681/150870724-a7774e24-d366-49fc-a7ad-c66500cd841a.png)

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Linux

### Relevant log output

_No resp

[2022-01-25 03:04] Tydoki opened #2545 "Multiple Tools missing from "Customize Toolbar" on new profiles"
### What happened?

Some tool are missing...
zoom tools
full screen
screenshot

Old
![waterfox_xtX3kUV2d1](https://user-images.githubusercontent.com/49407654/150903198-90d9256b-86cf-45e3-81c8-cb56cb8a9f81.png)

New
![waterfox_k5WEPrO8QH](https://user-images.githubusercontent.com/49407654/150903209-1f90de6f-b882-459e-8dd4-20420c283da4.png)

### Reproducible?

- [X] I have tested this on Firefox.

#

[2022-01-26 21:26] yoasif opened #2546 "Tab below address bar causes flickering and transparent tab bar"
### What happened?

I ran the latest Waterfox on my Ubuntu Linux install and found that confiuring the tab bar position to "Tab below address bar" causes the tab bar background to become black and flicker transparent (showing contents of things behind the window).

![image](https://user-images.githubusercontent.com/152493/151249517-d720a5fa-21f9-425f-b380-a20d4de2221a.png)

### Reproducible?

- [

[2022-01-26 21:32] yoasif commented on #2546
![wf](https://user-images.githubusercontent.com/152493/151250412-1f120f2b-8a5d-4844-a717-9d61909be49a.png)

I guess taking a screenshot actually makes it work correctly. Photo attached.

[2022-01-26 23:59] wwallgren opened #2547 "Keyboard Support For AS2"
### What happened?

A bug happened!The keyboard support for AS2 flash games plugin has stopped working. AS3 games still work fine and AS2 games still work fine on Pale Moon. This happened about a month ago for no apparent reason.

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

### What platform are you seeing the problem on?

Windows

### Relevant log output

[2022-01-27 01:37] noponydeepweb opened #2548 "Waterfox not open after install"
### What happened?

i have installed waterfox rn and when i open it crashes and nothing more happens

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2022-01-27 06:04] RiversideGoldCorvette commented on #2442
I just started using Waterfox, G4.0.6, and had the same issues with importing from Firefox. I was going to uninstall but did a refresh instead and all my bookmarks showed up. However, only about 70% of them work.  I've exported from Firefox to a .html several times and imported the file with bookmark manager getting the same results.  Since that didn't get all the bookmarks back, I opened a new ta

[2022-01-28 04:29] tx46 opened #2549 "[bug] "firefox" still present as a name in certain strings"
### What happened?

When a web socket fails to connect, the error message says "Firefox can’t establish a connection to the server at <url>". Notice the stylized apostrophe (’ instead of ') in can't.

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Linux

### Relevant log output

[code]

[2022-01-28 17:07] jahnson commented on #2442
I have the same problem.  I exported bookmarks from WF classic to a .json file.
In WF4.0.6, I tried to import bookmarks, but when I select "Import from file" it only allows me to select a directory, and then it says it is "Unable to identify any data to import from: Waterfox3".

WF4.0.6 also allows me to select another browser to import from.  However, when I select WF classic, Next, then "Select

[2022-01-28 17:18] jahnson commented on #943
What is the status of this?  Is there a WF current portable version coming?
The standard installer allows one to choose the installation directory, but then it dumps stuff in Appdata anyway.
The WF portable on portapps.io seems to be based on classic.

[2022-01-29 13:17] JoniVanderheijden opened #2550 "Visibility:hidden in combination with backdrop-filter"
### What happened?

A client reported an issue with a website I look after (myer.com.au). They mentioned that they continuously saw a blurry overlay, which was only supposed to be there when interacting with our menu.

I investigated and it seems it's linked to the browser (Waterfox).

Are you across any issues that would make the browser not respect the inline styling `opacity: 0; visibility: hid

[2022-01-30 00:22] vehfvehf opened #2551 "New tab page from Waterfox Classic"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-30 00:32] vehfvehf commented on #2551
Is it possible to have New Tab page of Waterfox Classic in Waterfox GX.X like extension for example or something other? I just need it as exact copy or something very similar. I tried some of but it overloaded with a lot of features as for me.

[2022-01-30 10:22] decembre opened #2552 "using UTF-8 encoding on raw files(even when specified that they should do that)."
### What happened?

Waterfox Classic 2020.11 / 56.6

I tested on a new profile of Waterfox Classic, the install of an userstyle With Stylish (the last version without privacy pb) and without Stylus addon instaled.
by example for this userstyle:
<a href="https://userstyles.world/style/248/flickr-widescreen-bigone-v-187">Flickr WideScreen - BigONE</a>
Because Stylish don't handle the install and ope

[2022-01-30 15:15] Hunanbean opened #2553 "Waterfox contacting pages without requests to do so."
### What happened?

Waterfox is attempting to contact websites that i did not direct it to.
Freshly installed browser, no bookmarks, no history/cleared history. Set to open to blank page.
Without any user input, waterfox is contacting the following sites, while sitting on a blank page.
aus.waterfox.net
cdn.jsdelivr.net
cdn.statically.io
combinatronics.io
forcesafesearch.google.com
gitcdn.xyz
googl

[2022-01-31 09:46] Schn4pper opened #2554 "Can't type text on Messenger and Facebook"
### What happened?

Since several days I've been unable to write any messages on Messenger and any comment on Facebook. I can click on the text area to activate it (the typing mark starts blinking) but no character shows when I type. It happens on Windows and Linux on the latest version (2022.01 (64 bits)).

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

###

[2022-01-31 09:52] Schn4pper opened #2555 "Can't select version and platform on Github bug report"
### What happened?

I am unable to select the version and the platform in the Github bug report form... When I click on it, the items show up but nothing happens when I select one of them, making it impossible to submit the issue as the version is a mandatory field... I have used Chrome to create the bug report.

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

[2022-01-31 11:17] adamp01 commented on #2546
@yoasif - I'll try to reproduce this.
Has this started only with the most recent update?

[2022-01-31 11:21] adamp01 commented on #2545
@Tydoki - We set those widgets as default items in the Status Bar, which is why they will be missing from the Customize page. I didn't full consider this when implementing. We'll have a think about what to do regarding this.

[2022-01-31 11:21] adamp01 commented on #2544
Thanks @mukhumaev - I'll get this sorted

[2022-01-31 11:24] adamp01 commented on #2541
@xbbdc - Would you be able to provide some more information around expected and actual behaviour here please?

[2022-01-31 11:28] adamp01 commented on #2539
@DonielMoins - So with a fresh profile this issue does not occur?

[2022-01-31 11:29] adamp01 commented on #2538
@ELXShadow - This is for G4.X correct? Could you show me the error you get please?

[2022-01-31 11:30] MrAlex94 commented on #2553
This is being looked into. Just to confirm, this was installed from the tarball on the website?

Also the following connections _should_ be expected (and a high level overview is in the [privacy policy](https://www.waterfox.net/docs/policies/privacy)):
 `aus.waterfox.net` -> Update server
 `push.services.mozilla.com` -> Used for Push Notifications that website might request access to
 `shavar.serv

[2022-01-31 11:31] adamp01 commented on #2537
@RektalTk - I'll take a look and see if I can reproduce.

[2022-01-31 11:31] DonielMoins commented on #2539
nope. but that still begs the question, how did I mess this up so bad that even after days of rummaging through settings, I couldn't fix it without a 'hard reset'. I wish I could have backed up my corrupted waterfox...

[2022-01-31 11:34] DonielMoins commented on #2539
Sorry I'm about to head to sleep rn, but I think I did back it up just to fix it properly later on. So maybe we can help so.eone out later on? I hope you don't mind this, I think it would be extremely beneficial. Might even be able to fix a bug or improve a broken part of Firefox? Or serve as a guide at the very least.

[2022-01-31 11:36] adamp01 commented on #2530
Unfortunately that is against the terms of service for YouTube (and other streaming services), so that will not be implemented in Waterfox or any other legitimate service.

[2022-01-31 11:36] #2530 closed, assigned to nobody

[2022-01-31 11:42] adamp01 commented on #2539
If you can send me a list of modified preferences in your broken profile I'm happy to have a look through and see if anything stands out.

[2022-01-31 11:42] Hunanbean commented on #2553
The install is from https://aur.archlinux.org/packages/waterfox-g4-bin
I came to essentially the same conclusions, hence the non-expected contacts were very surprising.

Thank you

[2022-01-31 15:57] Tydoki commented on #2545
@adamp01 Ah okay. Yeah I use to use the zoom tools within my main toolbar. I've never used the status bar. I've never really seen a use for it.

[2022-01-31 15:59] adamp01 commented on #2545
If you have the status bar showing when you go into Customize, you should be able to drag from there to wherever you want.

[2022-01-31 16:06] xbbdc commented on #2541
Attached is a video of what I'm trying to do and load. Let me know what else you need. I should be able to click one of those green buttons behind to continue with Duo authentication.

https://user-images.githubusercontent.com/59808960/151829023-9372e1da-bb1b-45a6-a6bf-30bcb80be62d.mp4

[2022-01-31 16:31] Tydoki commented on #2545
Ah okay. I'd suggest just have the status bar auto open when you go to customize. Thanks!

[2022-01-31 16:43] yoasif commented on #2546
@adamp01 I don't actually know - this is the first version I have run.

[2022-01-31 17:11] adamp01 commented on #2545
Agreed - will update so that this happens. Thanks for raising this one!

[2022-02-01 05:22] Thyssenkrupp234 opened #2558 "Illegal instruction (core dumped) on current release with linux"
### What happened?

I downloaded the current waterfox release for linux, and upon running the `waterfox` executable file, it just gives an error in terminal: "Illegal instruction (core dumped)"

This usually happens with bad processor type or something, but i have a 64 bit processor with SSE4.2 intel core 2 duo. It should work fine. I am running linux mint cinnamon edition, version 20.3 with a 5.4

[2022-02-01 05:30] RiversideGoldCorvette commented on #2442
Interesting, I uninstalled G4.0.6 and installed G4.0.5.1 and the bookmarks imported from the .html file.  I haven't tried to reinstall G4.0.6.

[2022-02-01 09:36] adamp01 commented on #2546
I can't reproduce this locally so going to make it harder to track down the cause.

Would you be able to run `cat /proc/cpuinfo` in a terminal and let me know if you see `sse4_2` in the `flags` please.

[2022-02-01 09:38] adamp01 commented on #2550
Thanks for raising this @JoniVanderheijden. `layout.css.backdrop-filter.enabled` is locked as true in Waterfox as it is used by one of our default themes. We are going to have a discussion about this one and will let you know the outcome.

[2022-02-01 23:14] DonielMoins commented on #2539
Weirdly, the only files related I can find are .js suffixed. Are the prefs*.js files the ones you're talking about?

[2022-02-02 00:21] adonios77 commented on #2548
I have the same problem at both Win 7 & 10 (AMD Athlon(tm) 64 X2).
The version that works on my (dual-boot) PC in both Win7 & Win10 is G323.

_I give up my tries as it's hard to keep make my settings over again.
I used Firefox since always and I could say: Firefox sucks, but the rests even more. (but sadly, all my "stuff" are there)
Waterfox gave me back what the Firefox ruined day by day._

[2022-02-02 01:47] adonios77 opened #2559 "Crash on G3.2.3 . Is this the latest stable version?"
### What happened?

![crash](https://user-images.githubusercontent.com/67506714/152080001-b552a74d-991f-4986-b709-3a48f9ec4ff0.PNG)
Is G3.2.3 the latest stable?

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2022-02-02 04:59] aeiouaeiouaeiouaeiouaeiouaeiou commented on #2558
The Santa Rosa line of processors [doesn't include SSE 4.2](https://www.cpu-world.com/CPUs/Core_2/Intel-Core%202%20Duo%20Mobile%20T8300%20FF80577GG0563M%20(BX80577T8300).html) instruction set, it was added in Nehalem.

[2022-02-04 15:57] #2544 closed, assigned to adamp01

[2022-02-04 15:57] #2549 closed, assigned to adamp01

[2022-02-04 16:21] #2545 closed, assigned to adamp01

[2022-02-05 05:30] bamzero commented on #2529
I was using [Don't "Accept" image/webp](https://addons.mozilla.org/en-US/firefox/addon/dont-accept-webp/) add-on to strip webp but realised it also has the option for AVIF which is doing the job as a workaround if you don't want to stay on 4.0.4

[2022-02-05 06:56] Thyssenkrupp234 commented on #2558
Why does Waterfox require SSE 4.2? Firefox and almost every app available does not require this. And is there a way to recompile to support SSE4.2?

It should really support SSE4.1 and older, it shouldn't be too hard. All of my apps support SSE4.1 perfectly fine

[2022-02-05 15:18] anonvoy commented on #2529
Kickstarter also seems to be affected, see https://www.reddit.com/r/waterfox/comments/sjzzh2/kickstarter_images_missing/

[2022-02-05 15:18] anonvoy commented on #2529
That works, thank you.

[2022-02-05 15:25] phyco1991 commented on #2529
Kind of disappointing that this still hasn't been fixed, a month after being reported. It clearly impacts a variety of different sites and given it wasn't present in G4.0.4 it should not be that difficult to determine what has caused it and either regress the change or patch it.

[2022-02-05 18:50] taciturnaxolotl opened #2561 "Unsplash image loading issue."
### What happened?

Unsplash refuses to load images. I have successfully reproduced this on Ubuntu and Pop OS. This issue doesnt happen on firefox.

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platform are you seeing the problem on?

Linux

### Relevant log output

_No response_

[2022-02-05 20:50] techsk8 opened #2562 "Can't select Dark Theme when using Lepton Theme on Linux"
### What happened?

Using `waterfox-g4-bin-0.6-0`package from AUR on Arch.
#### I'd like to be able to use the nice, Dark, Lepton Theme and not the light theme.
### On Linux that doesn't work by any means that I know of.
I only get the Lepton white and can't switch to the dark variant, a thing that on Windows 10 works by nicely asking you which one you want to use just after installation. Is there

[2022-02-06 02:38] SkySpnc opened #2563 "removing a bookmark does not work"
### What happened?

the bug: removing bookmarks does not work
expected: the bookmark gets removed upon clicking remove bookmark
actual: nothing happens

### Reproducible?

- [x] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2022-02-06 02:41] SkySpnc commented on #2563
![waterfox_QmeL3AHHt1](https://user-images.githubusercontent.com/83870752/152665818-6dcf8d99-3525-4f95-81e3-e859ae511c93.gif)

[2022-02-06 02:43] SkySpnc commented on #2563
also happens in troubleshoot mod
![waterfox_BrowNTzzRF](https://user-images.githubusercontent.com/83870752/152665838-6372be37-427c-4ff6-93ba-badd02ab3c8f.gif)
e

[2022-02-06 14:01] Bogged opened #2564 "Add-on's Author not displayed in add-on's property"
### What happened?

I don't know if it's a bug or a feature request :-)

Unlike Firefox, Waterfox 4.0.6 64bit does not display Author's name in Add-On's property (nor the reviews information but that I don't care)

[https://i.imgur.com/AMp4yHk.jpg](url) vs [https://i.imgur.com/xUBusna.jpg](url)

This information can be useful to locate in the store specific add-ons when they have such a generic na

[2022-02-06 18:00] CaptainFrosty commented on #2487
@MrAlex94  Thanks for the suggestions. It started working again one day after I updated Waterfox. Must have been a temporary ban of my device. Clearly I had some issue with my widevine plugin or maybe a security setting they didn't like.

[2022-02-06 18:00] #2487 closed, assigned to nobody

[2022-02-07 09:20] TonyH1234 opened #2565 "The conversation website"
### What happened?

Images are not displaying at theconversation.com
Firefox and Chrome don't have this problem.

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2022-02-07 10:05] MrAlex94 commented on #2562
Could you try creating a new number var in `about:config` called `ui.systemUsesDarkTheme` with a value of `1`?

<img width="1131" alt="image" src="https://user-images.githubusercontent.com/4728920/152767068-41335509-9acd-46f2-8c95-ae06ea37b225.png">

[2022-02-07 12:43] techsk8 commented on #2562
Thanks for the tweak, but it doesn't work. Restarted it a few times, still doesn't do anything.
![image](https://user-images.githubusercontent.com/71723339/152790154-c79c3ca0-8707-4ed6-bad1-436eb630d4a8.png)

[2022-02-08 01:49] ksy36 commented on #2529
This issue with avif has been addressed in Gecko, but looks like it hasn't made it to Waterfox yet.

Temporarily changing `image.avif.enabled` to `false` in `about:config` will fix the issue in Waterfox (this will need to be reverted back once this issue is resolved).

[2022-02-08 01:53] ksy36 commented on #2561
This is a duplicate of https://github.com/WaterfoxCo/Waterfox/issues/2529

[2022-02-08 01:53] ksy36 commented on #2565
This is a duplicate of https://github.com/WaterfoxCo/Waterfox/issues/2529

[2022-02-08 12:47] kcoderhtml commented on #2561
I also have this issue on [https://Unsplash.com](https://Unsplash.com) was referred from my issue #2561.

[2022-02-08 12:48] taciturnaxolotl commented on #2529
I also have this issue on [https://Unsplash.com](https://Unsplash.com) was referred from my issue #2561. @ksy3g your `about:config` trick worked for me. I'll be happy when this is resolved as its a annoying error.

[2022-02-08 13:30] adamp01 commented on #2529
This will be fixed with the next release of Waterfox.

[2022-02-08 14:02] taciturnaxolotl commented on #2529
Awesome! I am glad that this will be resolved!

[2022-02-08 17:53] PrussianJaeger opened #2566 "Package as a flatpak?"
I'm newer to Linux and in the process of moving over from Windows, and I was trying to install Waterfox but it wasn't incredibly intuitive and didn't work properly on my system.  Perhaps packaging and distributing Waterfox as a flatpak would be better?  It is not only more user friendly, but also will work across distributions without fail, won't have any dependency issues, can be easily updated,

[2022-02-08 17:55] PrussianJaeger commented on #2540
You have the ability to do this in the settings.  Under Settings > Home, click on the Waterfox Home (Default) and click Blank Page.

[2022-02-08 18:05] kreeben commented on #2540
No, that doesn't work or is not what I mean. As I mentioned, I have set up WF to restore previous session. But when I click "close" on the last of my open tabs, that should mean I have closed the session. Next time I open WF a blank page or WF home page should show.

[2022-02-08 21:55] becarpenter commented on #2405
There's a new draft at [https://www.ietf.org/archive/id/draft-carpenter-6man-rfc6874bis-03.html](https://www.ietf.org/archive/id/draft-carpenter-6man-rfc6874bis-03.html).

[2022-02-10 09:29] ronyAhmed1200 commented on #2566
Or package as a appimage.. As nowadays appimage are ruling the world of software/ package...

[2022-02-10 17:36] PrussianJaeger commented on #2566
Not really, flatpaks are basically the future.  ElementaryOS is fully flatpak based now; they're the most used between flatpaks, appimages, and snaps.  They can be automatically updated without external tools and they work with the system and themes, whereas appimages can't, and flatpaks are just better for most applications' usages.  An appimage would be fine for a one-use application or old soft

[2022-02-11 06:51] thedoggybrad opened #2567 "Winget is giving me an older version"
### What happened?

I upgraded to Waterfox G4.0.7 using the installer when I type winget upgrade --all (Winget Updates Programs) it will give the G4.0.6 so to cancel it I type CTRL + C. Can anyone submit the latest version to winget-pkgs to get around to not manually update each programs i havw because winget is giving older version of Waterfox.

### Reproducible?

- [ ] I have tested this on Fire

[2022-02-11 06:52] thedoggybrad commented on #2567
Can anyone add it to winget-pkgs to fix the issue? I can't.

[2022-02-11 15:52] A0R-R0CKS opened #2568 "Waterfox G4.0.7 Latest Release Crash on Launch"
### What happened?

Once more I try to run an install of G.4 Waterfox on my Windows 7 PC and Laptops
The Machines currently have G3.2.6 (64-bit)
Both Machines have a Quad Core 3ghz AMD and Both have 32 Gig Ram...
The Installer starts and when completed when you go to launch it there it crashes...
![image](https://user-images.githubusercontent.com/20975332/153623207-dc06d94a-d3a0-426e-9fcc-feaf36a5

[2022-02-11 15:56] A0R-R0CKS opened #2569 "Issue with this Bug Report Page and Waterfox G3.2.6 (64-bit)"
### What happened?

When I am filling out a Bug Report on here using waterfox
G3.2.6 (64-bit)
I can not chose Current Version Filed nor the OS when Submitting why is it blocked?
I have to use Chrome to post the issues I am having why are the fields not selectable in Waterfox G3.2.6 (64-bit)

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

### What platform are

[2022-02-11 16:22] phyco1991 commented on #2529
Confirmed fixed in G4.0.7! Thanks

[2022-02-11 16:22] #2529 closed, assigned to nobody

[2022-02-11 18:04] NektoNektovich opened #2570 "in xubuntu 21.10 won't run 4.0.7 version"
### What happened?

cpu intel pentium(r) dual-core e6300 @2800GHz  xubuntu 21.10 - 64bit won't run 4.0.7 version. firefox 97.0- 64bit works fine. I believe that you removed support for old hardware, unlike the original firefox, you discriminate against users of old, but quite up-to-date hardware :(

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4.𝑋 (Future)

### What platf

[2022-02-11 21:43] aeiouaeiouaeiouaeiouaeiouaeiou commented on #2567
Winget packages are supported by community, an update [was already added](https://github.com/microsoft/winget-pkgs/pull/45757) a few hours ago.

[2022-02-11 21:53] hawkeye116477 commented on #2566
AppImage already exists => https://appimage.github.io/Waterfox_Fourth_Generation/.

------------------------------
In case of Flatpak, problem may be that it requires packaging some of the additional dependencies with it and that could be problematic from license side.

[2022-02-12 01:51] klydeinside opened #2571 "Can't play DRM content from Udemy. Works fine on latest Firefox."
### What happened?

The videos won't play for me. I have the DRM stuff enabled. It popped up and I allowed it. Have all the same stuff I had on Firefox. It works just fine there.
![screen_121](https://user-images.githubusercontent.com/37005235/153691601-788b44a1-4696-47f0-8520-44c28ef8b443.png)

Any help? I don't want to have to use two different browsers for it.

Thanks in advance

### Reproducib

[2022-02-12 18:48] ghost opened #2572 "Hardware acceleration for video decoding."
playing any videos makes all of fire/waterfox lag.

Add some form of GPU hardware acceleration.

I just got a fresh install of waterfox on ubuntu.

[2022-02-13 02:56] rolltidehero opened #2573 "Tab Groups"
No, not like the Simple Tab Groups plugin. I mean like th tab groups that the Chromium browsers have.

To me, that is really all that is missing to make this my perfect browser.

<3 Waterfox

[2022-02-13 07:11] RektalTk commented on #2537
I see that there is a G4.0.7 version but browser can't update by itself.
Update is not working on Linux.

[2022-02-13 07:18] RektalTk commented on #2537
I need to merge the G4.0.7 Waterfox folder with G4.0.6 folder to update my browser and keep my bookmarks and settings

[2022-02-13 15:53] hawkeye116477 commented on #2570
As a alternative, you can try one of my packages (AppImage or from apt repository) following with https://github.com/hawkeye116477/waterfox-deb-rpm-arch-AppImage/blob/master/README.md.

[2022-02-13 21:22] donPabloNow commented on #127
@probonopd Likewise, with the release of Hawkeye's Appimage package for Waterfox (https://github.com/hawkeye116477/install-waterfox-linux), which is accessible through Opensuse (https://download.opensuse.org/repositories/home:/hawkeye116477:/waterfox/AppImage/waterfox-classic-latest-x86_64.AppImage.mirrorlist), it is now feasible to run Waterfox on Intel's ClearLinux* v3k+ operating system . This

[2022-02-13 22:58] thedoggybrad commented on #2567
@aeiouaeiouaeiouaeiouaeiouaeiou it is still giving me 91.5.0 (G4.0.6) instead of 91.6.0 (G.4.0.7) since the new version was named G again not starting with 91 so winget may be confused of what is really is the new version.

[2022-02-13 22:59] thedoggybrad commented on #2567
@aeiouaeiouaeiouaeiouaeiouaeiou I have already the latest version so, why winget is giving me the older version again. Can you create manifest for 91.6.0 here: https://github.com/microsoft/winget-pkgs/tree/master/manifests/w/Waterfox/Waterfox

[2022-02-14 10:19] hawkeye116477 commented on #2558
`it shouldn't be too hard.`

It's not hard, but MrAlex wants to make it working the best on SSE 4.2 and that's not that easy if he would make it working for other instructions. He would need to make 2 versions - one for SSE 4.2 and one another and seems that he rather doesn't want to lose time for that double work.

As a alternative you can see one of my packages => https://github.com/hawkeye11647

[2022-02-14 10:37] thunderstone135 commented on #2549
Hi, I also noticed this in the latest version (G4.0.7) on Windows.

![Imgur](https://i.imgur.com/Mm1oNeJ.png)

[2022-02-14 13:40] klydeinside commented on #2571
I found a Waterfox version from 2 years ago and that doesn't work. And I tried a bunch of versions in between too. I guess it's been an issue for a while.

[2022-02-14 15:10] nevinpuri opened #2575 "Waterfox Website shows Figma logo in tab"
### What happened?

Was scrolling through waterfox.net and I saw the Figma logo in the Waterfox tab. Not sure if this is intentional.

![image](https://user-images.githubusercontent.com/39220032/153890020-939c0a66-a226-4bf4-af2f-ff0990a6cfcc.png)

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G3.𝑋 (Current)

### What platform are you seeing the problem on?

Windows

### Rel

[2022-02-14 15:22] NektoNektovich commented on #2570
thanks, appimage works! 👍 It would be nice to have a link to download appimage waterfox on the official website!

[2022-02-14 20:00] AaronCompNetSys opened #2576 "Multi-row tabs - Feature Request"
Using user chome CSS combined with the default Firefox theme allows multi-row tabs to work great.  Please add this multi-row feature as a default option to the Lepton theme.  Multiple tab rows is a required feature for many business workflows.

I use this person's CSS with Waterfox G4.0.7 : https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/multi-row_tabs.css

[2022-02-14 22:50] thedoggybrad commented on #2567
Can anyone help me.

[2022-02-14 22:50] thedoggybrad commented on #2567
I will just open a new one

[2022-02-14 22:50] #2567 closed, assigned to nobody

[2022-02-14 22:57] thedoggybrad opened #2577 "Winget Giving me the older version"
### What happened?

The Winget is the tool I am using to update programs. I update through Waterfox Updater built in. However when I type winget upgrade --all it gives me again the lower version. I have 91.6.0 now but winget is giving me 91.5.0. I know what is the cause, before it uses G.x.x but in recent updates the manifests in winget to waterfox was using 91.x.x but it gets back to G.x.x again,

[2022-02-15 03:20] thedoggybrad commented on #2577
Issue Fixed

[2022-02-15 03:20] #2577 closed, assigned to nobody

[2022-02-15 03:21] thedoggybrad opened #2578 "Requesting Support for WEB RTC INSERTABLE STREAMS to allow End-to-End Web RTC Support."
Requesting Support for WEB RTC INSERTABLE STREAMS to allow End-to-End Web RTC Support.

[2022-02-15 04:03] Tiraelina commented on #2399
This seems to be working properly again after 4.0.7. Loading times are similar to 2022.01.

[2022-02-15 04:03] #2399 closed, assigned to nobody

[2022-02-15 23:57] krusion opened #2580 "Compatibility issue with chrome add-ons."
### What happened?

When I try to install chrome add-ons I get this error:
"This addon could not be installed because not all of its features are supported. "

I tried installing two different add-ons but get the same message.
The addons I tried to install were ublock origin (I was able to install it from the firefox add-ons) and Real Debrid Download Manager which is not available on firefox store

[2022-02-17 06:10] ghost opened #2581 "Remove automatic updates & update notifications from AUR package."
**Is your feature request related to a problem? Please describe.**
Since the Waterfox AUR package is seldom updated in time, the options to automatically install updates/receive update notifications are useless because 1: the package manager of choice will automatically handle those updates & 2: the AUR package is never updated in time, which leads to annoying notifications like [this one](https:/

[2022-02-17 10:53] GermanAizek opened #2582 "Marionette mode"
@MrAlex94,
Marionette mode supported? If yes, then which version of geckodriver is required for use.
I found in this repository `testing/geckodriver` latest commit 2020.
How many features have been added to the browser since then and are not implemented in `testing/geckodriver`?

### Version

G3.𝑋 (Current)

### What platform are you seeing the problem on?

Linux, Windows

[2022-02-18 00:58] mbrazil opened #2583 "Compact shown as Not Supported in Density menu, but Compact density does work"
### What happened?

The release notice for G.4.0.7 says, "The User Interface is now no longer compact by default. You can change this by going ☰ (Menu) → More Tools → Customise Toolbar. In the bottom left corner is the menu option for Density." In the Density menu, it says, "Compact (Not Supported)". However, when I hover the mouse cursor over each of the options in the menu (Compact, Normal, and

[2022-02-20 14:29] black7375 opened #2584 "I recommend updating the Lepton code."
### What happened?

I found the next commit while looking at the repository.  https://github.com/WaterfoxCo/Waterfox/commit/f92e95c09ecd98f987bf54e1e6a1cf969b683277

While working on [Firefox `v96` compatibility](https://github.com/black7375/Firefox-UI-Fix/issues/318), I had a reimplementation on the tab height.
But there were several critical bugs. (Lepton `v4.5.8`)

- Pinned Tab - Vertical align

[2022-02-20 20:44] aalku commented on #1895
That depends on the country legislation. Maybe you can access a DRM protected content from a country where you have the legal right to break that protection and capture the video.

[2022-02-21 14:24] #2565 closed, assigned to nobody

[2022-02-21 14:25] #2561 closed, assigned to nobody

[2022-02-21 14:28] adamp01 commented on #2581
Closing this as the AUR package is not maintained by the core Waterfox team.

[2022-02-21 14:28] #2581 closed, assigned to nobody

[2022-02-22 05:31] ghost commented on #2581
@hawkeye116477

[2022-02-22 05:32] ghost opened #2586 "Remove automatic updates & update notifications from Linux builds."
**Is your feature request related to a problem? Please describe.**
Since package managers are thing on Linux, automatic updates & updates notifications are useless since everything is handled with each distro's corresponding package manager. Having no way to remove update notifications leads to annoying notifications like [this one](https://i.imgur.com/IomLtVe.png).

**Describe the solution you'd

[2022-02-22 09:22] hawkeye116477 commented on #2586
`no way to remove update notifications`

It's possible to do that, only configuration file is needed, see https://github.com/mozilla/policy-templates/blob/master/README.md.

[2022-02-22 09:39] hawkeye116477 commented on #2581
@SkMyPP Done => https://aur.archlinux.org/cgit/aur.git/commit/?h=waterfox-g4-bin&id=a9f8bffb59dd40099444fcefb474980825926251.

[2022-02-22 11:42] MrAlex94 commented on #2584
Thanks, appreciate you filing an issue for this! I typically update Lepton before next update, and have done so with this commit: https://github.com/WaterfoxCo/Waterfox/commit/a4251ef0a08f313f18f22904e814aa71cb8f4fb6

Thanks once again :-)

[2022-02-22 11:42] #2584 closed, assigned to nobody

[2022-02-22 11:42] MrAlex94 commented on #2583
This is now fixed in https://github.com/WaterfoxCo/Waterfox/commit/a4251ef0a08f313f18f22904e814aa71cb8f4fb6. Thanks!

[2022-02-22 11:42] #2583 closed, assigned to nobody

[2022-02-22 14:22] rodrigomessias commented on #2586
I use Waterfox in "portable" mode (.tar.gz package) on Linux and absolutely rely on the automatic updates to keep me up to date.

Please, don't remove this feature.

[2022-02-22 17:58] Tau5 commented on #2562
I'm experiencing the same thing, I don't know hot to fix it

[2022-02-23 09:53] adamp01 commented on #2559
@adonios77 - [G4.0.7](https://github.com/WaterfoxCo/Waterfox/releases/tag/G4.0.7) is the current stable release. G3.2.3 is from 07 Jun 2021, and had a follow up release the next day.

[2022-02-23 09:53] #2559 closed, assigned to nobody

[2022-02-23 10:02] adamp01 commented on #2586
I am going to re-implement `app.update.enabled` functionality so that you can turn it off with a pref.

We are not removing automatic updates from the builds that we distribute (tarball for Linux).

[2022-02-23 10:11] ghost commented on #2586
I guess I worded what I meant to say completely wrong (again...)

I didn't mean to say "remove all options to completely disable automatic updates in the browser", but instead bring back the option to completely turn off updates [like this](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.orduh.com%2Fwp-content%2Fuploads%2F2018%2F03%2FDisable-Automatic-Updates-in-Firefox.jpg&f=1&nof

[2022-02-23 10:22] adamp01 commented on #2586
What you are requesting is what I am attempting to re-implement now, your wording was all good.

[2022-02-23 10:25] ghost commented on #2586
Ah, ok.

Again, it was never my intention to ask for automatic updates to be completely removed. Just having the option to turn off automatic updates is enough.

Thanks.

[2022-02-23 12:49] techsk8 commented on #2562
I haven't found any fix yet either, @Tau5.

[2022-02-23 16:46] adamp01 commented on #2553
Meant to reply to this ages ago, apologies for the delay on that.

I monitored connections from a fresh install on Ubuntu (fresh VM) and had only expected connections:
[code]
Waterfox should not be attempting to contact anything else and I can only speculate that additional connections outside of these are from some form of contamination (most likely from a pre-existing profile). We certainly have

[2022-02-23 16:46] #2553 closed, assigned to adamp01

[2022-02-23 21:56] gotshadowbantempaccount opened #2589 "Change them to Firefox Leptopn and this happens"
### What happened?

Change them to Firefox Lepton and this happens

client complain that he can't read item menu, and he is damn right ?

http://output.jsbin.com/acucan/9

![273170920_635292380873699_5330058284152088061_n](https://user-images.githubusercontent.com/88304290/155415095-2ac8034a-37e1-4f58-9602-bbe4fc8df2b8.jpg)

![ddddd](https://user-images.githubusercontent.com/88304290/155415409-6fc

[2022-02-24 01:44] black7375 commented on #2589
It would have been resolved in the latest version.
https://github.com/black7375/Firefox-UI-Fix/issues/320
https://github.com/WaterfoxCo/Waterfox/issues/2584

[2022-02-24 02:02] black7375 commented on #2584
I have a plan to enhance support for Waterfox.
There seem to be two changes except for changing the icon path.

https://github.com/WaterfoxCo/Waterfox/blob/a4251ef0a08f313f18f22904e814aa71cb8f4fb6/browser/themes/addons/lepton/userChrome.css#L1190-L1196

https://github.com/WaterfoxCo/Waterfox/blob/a4251ef0a08f313f18f22904e814aa71cb8f4fb6/browser/themes/addons/lepton/userChrome.css#L2616-L2623

It s

[2022-02-24 11:00] adamp01 commented on #2580
@krusion - Currently there is one major API that Firefox/Waterfox doesn't support that Chrome extensions use extensively, `externally_connectable`. We don't have the capacity in the team to look at integrating this as it stands.

[2022-02-24 11:00] #2580 closed, assigned to nobody

[2022-02-24 11:02] #2572 closed, assigned to nobody

[2022-02-24 11:05] adamp01 commented on #2571
Thanks for raising the issue and adding the error screenshots. Unfortunately there are a number of websites that have DRM related issues for Firefox forks. We've tried to resolve these in the past but never had much luck. I'll reach out to someone at Udemy to see if they can help root cause on their end, but typically there isn't much Waterfox can do to resolve these issues.

[2022-02-24 11:05] #2571 closed, assigned to nobody

[2022-02-24 11:06] #2570 closed, assigned to nobody

[2022-02-24 11:07] adamp01 commented on #2569
Closing as G3.2.6 is no longer being updated.

[2022-02-24 11:07] #2569 closed, assigned to nobody

[2022-02-24 11:09] adamp01 commented on #2568
We are currently profiling installers built with different compile flags, and we may re-introduce support to non SSE4.2 instruction sets in a future release. As it stands right now, this is to be expected.

[2022-02-24 11:09] #2568 closed, assigned to nobody

[2022-02-24 11:12] adamp01 commented on #2563
@SkySpnc - I need some more information here before I can do anything about this.

1. Version of Waterfox?
2. Operating system
3. Some attempt to retrieve relevant logs -> Ctrl + Shift + J will open the browser console, if you then attempt to remove the bookmark and see any new errors pop up please post them here.

[2022-02-24 11:18] adamp01 commented on #2562
Unfortunately all the CSS for Lepton relies upon the system theme AFAIK, so I believe this is a known issue for Arch that currently we won't be able to fix.

Maybe @black7375 has had similar issues raised in the Lepton repo?

[2022-02-24 11:19] adamp01 commented on #2555
Hi - If this is for G3 we won't fix as we are only developing G4 now.

[2022-02-24 11:19] #2555 closed, assigned to nobody

[2022-02-24 11:25] adamp01 commented on #2566
Hi - as it stands we won't be releasing a flatpak. I will make a note to add some usage instructions to the README for the tarball.

[2022-02-24 11:25] #2566 closed, assigned to nobody

[2022-02-24 11:26] adamp01 commented on #2558
We are currently profiling installers built with different compile flags, and we may re-introduce support to non SSE4.2 instruction sets in a future release. As it stands right now, this is to be expected.

[2022-02-24 11:26] #2558 closed, assigned to nobody

[2022-02-24 11:27] adamp01 commented on #2548
We are currently profiling installers built with different compile flags, and we may re-introduce support to non SSE4.2 instruction sets in a future release. As it stands right now, this is to be expected.

[2022-02-24 11:27] #2548 closed, assigned to nobody

[2022-02-24 11:34] adamp01 commented on #2539
@DonielMoins - apologies for the really late reply here - yeah the contents of `prefs.js` in your main profile would be what I'm after here.

[2022-02-24 11:34] #2538 closed, assigned to nobody

[2022-02-24 11:45] adamp01 commented on #2537
@RektalTk - What distro are you on? And are you using the tarball from the Waterfox website/CDN/github or a package from another source?

Would you be able to provide some logs by doing the following:
1. Go to `about:config` search for `app.update.log` and make sure it is set to `true`.
2. Open the browser console, Ctrl + Shift + J and filter output (bar at top) to `AUS`.
3. Open the AppMenu -> He

[2022-02-24 12:04] adamp01 commented on #2531
@steveatx  - I can replicate this on Windows, but the tooltip only stays until I change tab or refresh the page. In your case even switching tab and then back or refreshing the page won't clear the tooltip?

I'll add this onto the list of things to look into.

[2022-02-24 13:34] black7375 commented on #2562
In pure Firefox, there was no theme color related report.
I'll investigate after a later time.

The current guess is that the manifest value is forced.
https://github.com/WaterfoxCo/Waterfox/blob/current/browser/themes/addons/lepton/manifest.json

IMO, The ideal way to solve this bug is to distinguish between `layout theme`(`lepton`, `australis`) and `lw-theme`(just color, header image).

[2022-02-24 14:16] adamp01 commented on #2562
I think I should be able to add a pref and build some functionality to force using the `dark_theme` outlined in the manifest. I'll have a play around when I have time.

[2022-02-24 14:54] RektalTk commented on #2537
I am using [Sparky Linux](https://sparkylinux.org/) Debian based distro.
1. App.update.log was set to false. I have changed it.
2. AUS logs:
`AUS:SVC Creating UpdateService
AUS:SVC Logging current UpdateService status:
AUS:SVC UpdateService.canUsuallyCheckForUpdates - able to check for updates
AUS:SVC UpdateService.canCheckForUpdates - able to check for updates
AUS:SVC getCanApplyUpdates - testing

[2022-02-24 16:47] MrAlex94 commented on #2584
@black7375, thanks! I was going to submit issues in the repo regarding them.

[code]
The above is so that when hovering over a search selection, it highlights the item. Sadly doesn't work when navigating with keyboard arrows.
<img width="399" alt="image" src="https://user-images.githubusercontent.com/4728920/155568171-a35011bd-da0b-4523-8ff1-3ed2a3a5bec9.png">

[code]

I commented out max-width, b

[2022-02-24 16:53] black7375 commented on #2584
Thank you for telling me!!

I will reflect on upstream, and add waterfox support to the next version. (Ex. restart panel icon)

[2022-02-24 19:07] adonios77 commented on #2548
By the way, I already use **G3.2.3** (64-bit) (Gecko 78.12.0), **as the main browser**, and I am quite **satisfied**, given the conditions.

[2022-02-25 12:07] #2589 closed, assigned to nobody

[2022-02-25 13:09] techsk8 commented on #2562
That would be amazing @adamp01. Looking forward to hearing from you any news!

The issue it's not only in Arch. It's on every Linux Distro I've tested it on: Debian, Kali, Ubuntu.
I always use Dark themes with my Linux Distros hence the issue.

[2022-02-25 15:33] adamp01 commented on #2562
The PR I've just done will enable the `ui.systemUsesDarkTheme` pref to actually work on Linux distros.

I'm doing an additional PR to add a toggle for that to `about:preferences` as well.

[2022-02-25 19:00] steveatx commented on #2531
@adamp01 - When I switch tabs, the tooltip goes away, but simply refreshing does not clear the tooltip when I try it.  Also, I frequently open pages in new windows, and the tooltips remain in that case.

[2022-02-25 23:26] rebop opened #2592 "G4 Some Favicons shows on tab but generic on bookmark"
### What happened?

G4 Some Favicons shows on tab but generic on bookmark. Only a handful but starting to increase. Work in Edge and Classic.

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2022-02-27 01:09] SkySpnc commented on #2563
@adamp01
1 g4.0.7 64bit
2 Windows 10 21h2 19044.1526
3 errors in attached
![image](https://user-images.githubusercontent.com/83870752/155864082-8f60e5df-410b-4080-bea2-400d859adb05.png)

[2022-02-28 02:54] techsk8 commented on #2562
Adam. That's just amazing news. Thank you for your efforts. Much much appreciated! 😄
By the way, since we're at it, I was wondering if Waterfox will ever have group tabs like Brave has? I'm asking this cause I've read in some GH thread that this is totally impossible to implement in any Firefox-based browser :/ Thanks

[2022-02-28 09:41] #2562 closed, assigned to adamp01

[2022-03-01 07:30] Hunanbean commented on #2553
Using a fresh OS and a fresh install of waterfox4-bin from the AUR, i am also only seeing expected connections.
Thank you

[2022-03-01 08:59] adamp01 commented on #2592
Hi @rebop -

Is this for bookmarks that you have imported or is this for bookmarks you are adding?
Would you be able to open the browser console (ctrl + shift + j), monitor it while you add a new bookmark that fails to store the favicon and then post any relevant logs that appear in that time here?

[2022-03-01 10:16] baudren commented on #2563
I also encounter this issue, on
1. Waterfox version G4.0.7 (64-bit)
2. Windows 10 Enterprise, 20H2, 19042.631

with the exact same errors in the browser console (different guid of course)

[2022-03-01 10:41] adamp01 commented on #2563
Seems like your `places.sqlite` has become malformed (I'll look into that as a separate piece). Did you import anything from another profile? Perhaps from Classic?

A suggestion to hopefully remedy this would be:
1. Go to `about:profiles` and open you current profiles root directory.
2. Create a new profile from `about:profiles`.
3. Copy everything from you current profile to the newly created pro

[2022-03-01 10:46] adamp01 commented on #2582
Marionette mode isn't something that we consider when building the browser, although it is kept up to date with the latest changes to ESR91 from Firefox. Looks like the most recent changes in G4 were in July 2021: https://github.com/WaterfoxCo/Waterfox/tree/current/testing/geckodriver.

[2022-03-01 10:46] #2582 closed, assigned to nobody

[2022-03-01 14:17] rebop commented on #2592
This is for newly created bookmarks. Some, few, but consistent. They work in Classic, not G4.

Examples.
Boobkmark and tab Classic:

![1](https://user-images.githubusercontent.com/13785042/156183673-ca008978-9350-4fec-a671-6f6075314e44.JPG)
![2](https://user-images.githubusercontent.com/13785042/156183695-e69f33ba-bf7c-465a-838e-9ee3c5ca9296.JPG)

G4:
![3](https://user-images.githubusercontent.com

[2022-03-01 15:52] GermanAizek commented on #2582
@adamp01,
Can I participate in marionette support for waterfox?

[2022-03-01 16:03] GermanAizek commented on #2582
@adamp01,
Can I participate in marionette support for Waterfox? I can maintain the relevance of geckodriver work in your project, from experience I am current maintainer webdriverxx C++ api for Selenium Server Standalone.
More info: https://github.com/GermanAizek/webdriverxx

[2022-03-02 10:21] MrAlex94 commented on #2578
Please follow the Mozilla bug filed here: https://bugzilla.mozilla.org/show_bug.cgi?id=1749547

[2022-03-02 10:21] #2578 closed, assigned to nobody

[2022-03-04 02:53] JiaOkay commented on #2456
Firefox supports
But WaterFox not supports
Why must be GLIBC 2.30

![图片](https://user-images.githubusercontent.com/38833358/156690134-8578ee02-14ba-47d4-ac68-c00df35f5b9f.png)

[2022-03-05 03:04] SkySpnc commented on #2563
seems to have worked. cheers.

one extra thing tho. image below is just a little annoying. outdated term, and should be using they as not everyone identifies as him or her. it feels exclusive and not inclusive, the opposite of what id imagine waterfox is going for.
![image](https://user-images.githubusercontent.com/83870752/156865288-4a01fbba-7284-40be-9416-1ba5f207a8d7.png)

[2022-03-05 03:08] SkySpnc commented on #2563
just a little bit of extra information before closure tho: this happens every time ive installed waterfox. it may be because i also have firefox installed

[2022-03-05 12:08] adamp01 commented on #2563
@SkySpnc  - Thanks for highlighting the wording there, I will get that updated on Monday morning as it certainly is exclusive and unnecessary.

Having Firefox installed shouldn't be an issue as profile directories are kept separate, the only thing I could imagine causing this is if you used the profile importer (import bookmarks etc.) and something went wrong. If that is the case it would be good

[2022-03-05 13:32] zybersup commented on #278
Thank all you guys very much. This thread help me find the fix of the same "missing jsPrintSetup object" problem.

And BIG thank to @MrAlex94. I have been using Firefox ESR 52 with this jsPrintSetup extension for my POS system for years after Firefox Quantum dropped the old extensions. Now I can use Firefox Quantum for other websites and use our POS system on Waterfox Classic.

[2022-03-05 14:23] SkySpnc commented on #2563
@adamp01 every machine ive tried it seems to happen, although i skip bookmark importing. it may be that.
i mean installing on a new machine/ os install

[2022-03-06 17:56] adonios77 commented on #2559
The ONLY version that works is G323 & G326(prtbl). (I'm on 64bit windows 7 & 10 dual boot)
The G4.x versions says something gibberish about SSE4.2. I assume that works ONLY for those who have "something" that called "SSE4.2".

So, for example, it's not working on "**AMD Athlon**(tm) **64** X2 Dual Core Processor 3800+   2.00 GHz" like mine.
I wondering how many people understand what SSE4.2 means,

[2022-03-06 19:27] Yousuckatthis opened #2594 "Video stream player fails to load"
### What happened?

Holy Crap!!!!!! The level and quantity of BS I have to go through, just to report a possible bug, is UNACCEPTABLE. Who the hell do you think you are? Why do I have to sign up at all? How could you know whether or not I use a particular password elsewhere, if you are not spying on me?? Or do you just LIE to people when they are trying to sign up? Is this what you wanted ALEX??

[2022-03-07 01:10] unique33 opened #2595 "Switching To Persian (Farsi) Language Produce error on Waterfox G3 restart and the waterfox does not load."
### What happened?

Hello,

Switching To Persian (Farsi) Language Produce error on Waterfox G3 restart and the Waterfox G3 does not load.
Please if possible provide us with Pre installed Persian Language for Waterfox G3 installation package .

Thanks
Saeed

### Version

Other

### What platform are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2022-03-07 01:29] unique33 commented on #2595
Hello,

The Persian Language package I installed is here :
https://addons.mozilla.org/en-US/firefox/addon/persian-ir-%D9%81%D8%A7%D8%B1%D8%B3%DB%8C-%D8%A7%DB%8C%D8%B1%D8%A7%D9%86-lang/

Thanks
Saeed

[2022-03-07 04:04] thunderstone135 commented on #2594
That's odd. I'm also using G4.0.7, and I checked the link you provided, but the movie loaded properly. Check the Browser Console (Ctrl+Shift+J) and see if you are getting any error.

[2022-03-07 09:50] adamp01 commented on #2592
I believe this issue is caused by the default CORS policy being set to `strict-origin-when-cross-origin`, which is default for increased security when a website doesn't explicitly set a policy on requests being made from the site. It will work with Classic because setting `strict-origin-when-cross-origin` as the default referrer policy started around 2020/1. It's on the website to declare a differ

[2022-03-07 10:19] baudren commented on #2563
@adamp01 Removing the `places.sqlite` file from my profile directory solved the issue for me. There was a `places.sqlite-corrupted` file, as well, and yes, I tried to import my bookmarks from Firefox just after the install, which failed. Maybe this caused the issue, at least on my side.

Thank you in any case for the help and investigation, cheers!

[2022-03-07 10:24] adamp01 commented on #2563
Thanks for the information both - I'll take a look into bookmark/history migration to see if we can stop this from happening.

[2022-03-07 11:49] hawkeye116477 commented on #2595
You shouldn't use language packs from AMO, cuz Waterfox has additional strings.
If you can't just choose language from Waterfox G3 options without installing anything, then on https://mirrorcache.opensuse.org/repositories/home:/hawkeye116477:/waterfox/xUbuntu_21.04/all/waterfox-g3-i18n-fa_2.7-0+130.1_all.deb.mirrorlist you can get unofficial language pack for Waterfox G3, you just need to extract

[2022-03-07 12:23] unique33 commented on #2595
Hello,

The problem solved .
Now the Persian (Farsi) Language loads correctly.
Really good .

Thanks
Saeed

[2022-03-07 12:36] unique33 commented on #2595
Hello,

Waterfox G3 Group , Or Anyone else :

Please if possible provide a Persian (Farsi) Language Waterfox G3 Installation Package too.
Or Please if possible provide us with tutorials about how to create a Waterfox G3 installation package with pre defined language .

Thanks
Saeed

[2022-03-07 12:38] hawkeye116477 commented on #2595
Waterfox G3 isn't supported now, so that rather won't happen.
G4.xx is latest and supported.

[2022-03-07 13:18] rebop commented on #2592
Thanks. Tried changing to 3, restarting and it had no effect.

[2022-03-07 14:26] unique33 commented on #2595
Hello,

We need Waterfox G3 Persian ( Farsi ) installation Package for our big project .
We are working on our project for 15 years .
So the package in essential to us .
Please if possible can someone help us.

Thanks
Saeed

[2022-03-07 18:28] Peacock365 commented on #2279
@adamp01

I just wanted to ask: What is the status of add-on version number restoration in about:addons? Seeing the current version number would be handy since it makes updates more visible and may help when resolving add-on issues here. It seems like a trivial(?) fix to add this back, **please make this a priority**.

I have found two further issues (Waterfox G4.0.8):

- In the Chrome Web Store,

[2022-03-07 20:48] Yousuckatthis commented on #2594
Hello and Thank you.

Did what you suggested, got this:

Unexpected event profile-after-change URLQueryStrippingListService.jsm:224
ExtensionPreferencesManager API ftpProtocolEnabled created but addSetting was not called.
Attempt to override an existing message: "onboarding-multistage-theme-label-light".
Key event not available on some keyboard layouts: key=“r” modifiers=“accel,alt” id=“key_quickR

[2022-03-07 21:59] jburf opened #2597 "Background color not shown in bookmarks, history..."
### What happened?

In previous versions, the Show All History/Manage Bookmarks tabs, would use the background color in settings. Now, it's bright white, which hurts my eyes, & I'm sure others... even if the background color is set to always override. I've always set it to high contrast only, & it always used the background color.
A fix would be great, as any dark theme doesn't effect those tabs.

[2022-03-07 22:06] jburf commented on #2546
It could be a theme issue. I had a different flickering issue with the revised Lepton. The poster might want to try changing themes, to see if it happens.

[2022-03-08 01:36] thunderstone135 commented on #2594
I have a feeling that you just need to tweak a pref for this error.
I'm not sure which one, but you can try this 👇
1. Go to about:support
2. Loof for Profile Folder, then click Open Folder
3. Look for prefs.js and copy it somewhere safe (just in case)
4. Create a user.js file
5. Copy the prefs [here](https://pastebin.com/raw/TTZYBCqS) to your user.js file
6. Restart Waterfox

The prefs I provided

[2022-03-08 02:49] yoasif commented on #2546
Updated to the latest version.

flags:

[code]

Here's a screenshot of what happens if I press and release alt. It stays like this:
![Screenshot from 2022-03-07 21-46-38](https://user-images.githubusercontent.com/152493/157156543-761ef883-f372-428c-8d2f-95fea13d559c.png)

[2022-03-08 09:05] adamp01 commented on #2279
@Peacock365 - I'll look into the addon version number today.

Thanks for raising those issues with the addon store compatability piece, I'll take a look at this as well.

We haven't had as much capacity as we had hoped for so this hasn't been getting as much attention as it needs, as such we don't have the time currently to look into expanding to Edge. Our priority would be introducing compatabili

[2022-03-08 09:25] adamp01 commented on #2597
@jburf - Hey thanks for raising this, we will try to get to the bottom of it.

I've tested on Windows with G4.0.8 and high contrast with both Lepton and Firefox Dark themes, neither displayed the behaviour you have stated.

Would you be able to go to App Menu -> Help -> About Waterfox and let me know the version number that you are currently on when seeing this.

If you could also let me know whic

[2022-03-08 11:02] adamp01 commented on #2279
@Peacock365  - For the addon version number, it is displayed on the card detail like below:
<img width="687" alt="image" src="https://user-images.githubusercontent.com/47503375/157225795-dc026d57-803d-4505-b860-25744ec4a86f.png">

That should be sufficient no? Or are there cases you have seen where this is not being displayed?

[2022-03-08 14:26] Yay295 opened #2598 "make `dom.dialog_element.enabled` true by default"
**Is your feature request related to a problem? Please describe.**
The [HTML dialog element](https://developer.mozilla.org/en-US/docs/web/html/element/dialog) is now supported in every modern browser. It is also supported by the latest version of Waterfox (G4), but it was not enabled by default in Firefox until version 98. Since it seems to be working fine in Waterfox, I think it should be enabled

[2022-03-08 16:19] decembre commented on #2598
Yes, tested on Waterfox Classic the about:config work too with it.
Test it after on:
<a href="https://developer.mozilla.org/en-US/docs/web/html/element/dialog">&lt;dialog&gt;: The Dialog element</a>
and
<a href="http://niutech.github.io/showModalDialog/demo.html">[showModalDialog polyfill demo](http://niutech.github.io/showModalDialog/demo.html)</a>

[2022-03-08 19:36] RektalTk commented on #2537
Update is working. I have updated to G4.0.8 today.

[2022-03-09 00:39] Kilzzz commented on #2393
The latest update messed up the work around and I can no longer use the system theme. Looks like I will be going back to Firefox because out of the box it uses the system Gtk system theme. Instead its a glaring white theme that looks out of place in my dark themed system.

[2022-03-09 03:06] jburf commented on #2597
Thanks for the reply. I'm using v4.07... just got the update to 4.08 msg, but haven't updated yet. It's happening with most any theme I try... a couple of the dark themes included with the install, those tabs display black. None of the included themes display my background color. I'm currently using "Real Windows Classic" theme, which is easier on my eyes.
But everything in background is bright wh

[2022-03-09 05:08] jburf commented on #2597
I updated to v4.0.8... no change.

[2022-03-09 08:38] adamp01 commented on #2537
Thanks for confirming

[2022-03-09 08:38] #2537 closed, assigned to adamp01

[2022-03-09 10:19] Peacock365 commented on #2279
@adamp01

No, I mean the add-on version number in the add-on list, directly in about:addons (list view of all extensions). Waterfox Classic had it, Waterfox G3 had it, Waterfox G4 doesn't. You patched it back in in Waterfox G3 as well I recall. Having the add-on version number directly in the list view is better than what we have now because 1) updates are immediately visible from the list view, n

[2022-03-09 11:17] adamp01 commented on #2279
@Peacock365  - gotcha, I'm PR'ing something to make it look like this:
<img width="698" alt="image" src="https://user-images.githubusercontent.com/47503375/157431075-5e8df5d2-3f96-4dce-9c84-a990c4e1eba9.png">

I'll speak to Alex about flipping `network.captive-portal-service.enabled` as well.

Also, I did take a look at the addon stores stuff yesterday and I've noticed that sometimes the content h

[2022-03-09 11:35] adamp01 commented on #2595
May I ask why you need G3 specifically and G4 will not suffice? I should be able to add Farsi to the default languages we distribute with G4 if you can use that.

[2022-03-09 11:43] unique33 commented on #2595
Hello,

We are using Flash Content in our project and new browsers does not support it .
The Flash Content we are using is essential to our project and we can not continue our life without it .
If possible please provide us with G3 Persian language Predefined and loaded .

Thanks
Saeed

[2022-03-09 11:46] Peacock365 commented on #2279
@adamp01

Thanks for fixing / investigating all mentioned issues here. Well done.

Opera Store issue: There is an "Add to Waterfox" green button at the top right of every extension page, e.g. here: https://addons.opera.com/extensions/details/ublock/
This button is enlarged / being rendered wrongly here. Can you confirm this?

[2022-03-09 11:51] adamp01 commented on #2279
Looks like this for me, which is how it was intended:
<img width="1005" alt="image" src="https://user-images.githubusercontent.com/47503375/157436586-61e73487-3d30-409f-83bd-6594ea82055d.png">

[2022-03-09 11:59] Peacock365 commented on #2279
@adamp01

Ah OK, the "Add to Waterfox" green button is much more enlarged for me. Since you can't reproduce the issue (I agree, your picture is as it should look), then I guess it is an issue with my profile. So consider this issue RESOLVED.

[2022-03-09 21:07] Handsome-Rob opened #2601 "Security vulnerabilities in Firefox, is Waterfox affected?"
### What happened?

Firefox has released emergency updates due to security vulerbailities that allow remote code execution and escaping the sandbox, both of which are quite serious.

The first bug is CVE-2022-26485, which is a use-after-free problem in the browser’s XSLT parameter processing.

The second bug, CVE-2022-26486, is a use-after-free issue in the WebGPU IPC Framework.

The first bug is

[2022-03-10 00:45] jburf commented on #2473
Using G4.0.8, Chase.com still has the same issue... would appreciate a fix.
Thanks!

[2022-03-10 02:01] thunderstone135 commented on #2601
Hi, Waterfox is based on Firefox ESR. If you look [here](https://github.com/WaterfoxCo/Waterfox/commit/284e87eb7acd5e687c0db5c21fca698069456235), you will notice that it is currently at 91.7.0 ESR. According to this [article](https://www.mozilla.org/en-US/security/advisories/mfsa2022-09/), the vulnerabilities were fixed in 91.6.1 ESR. Since Waterfox is using the latest ESR, the security fixes in t

[2022-03-10 11:19] adamp01 commented on #2601
@Handsome-Rob - Fixes for these bugs were included in G4.0.8 that was recently released.

For your reference, you can see that the fixes for these zero days are:
* [Bug 1758062](https://bugzilla.mozilla.org/show_bug.cgi?id=1758062)
* [Bug 1758070](https://bugzilla.mozilla.org/show_bug.cgi?id=1758070)
 Taken from:
* https://www.mozilla.org/en-US/security/advisories/mfsa2022-09/

You will be able to

[2022-03-10 11:19] #2601 closed, assigned to nobody

[2022-03-10 15:01] Kilzzz commented on #2416
Sadly the work around no longer works in 4.0.8. Instead it leaves a nasty on the eyes white theme.

[This extension](https://addons.mozilla.org/en-US/firefox/addon/firefox-color/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=search) will work to change the theme. Sadly I was not able to save and apply the theme for the future. But its easy to use and change the theme.

[2022-03-10 19:12] MrAlex94 commented on #2598
Looks like they enabled it [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1733536), without worrying about fixing all the accessibility features. Will do the same tomorrow 👍

[2022-03-10 22:24] Yousuckatthis commented on #2594
Sorry about the wait. Had to deal with a car malfunction. So I created user.js with the prefs offered and added it to the profile folder. I did not remove the original prefs.js as you did not say to do so. Restarted browser, it did not fix the issue. I then deleted prefs.js and restarted the browser, again no luck.
After talking to you Waterfox has come out with yet another update. Opinions??Do yo

[2022-03-10 23:27] Yousuckatthis commented on #2594
Well ! I cant undo the changes your user.js suggestion caused. Removing and replacing with the original does not work. I tried many ways of doing so. I STRONGLY recommend that you not tell anyone to do this in the future.
I used revo-uninstaller to completely remove WF. Saving my bookmarks of course. And reinstalled with G4.0.8 , re-added my addons and the website works now.

Again, thanks for try

[2022-03-11 02:29] thunderstone135 commented on #2594
That's odd. Normally, replacing prefs.js works in restoring settings. Unless, you restored it while Waterfox is open. If that's the case, then replacing prefs.js will not work.

Well, I'm glad that you were able to fix the issue 👍

[2022-03-12 18:21] Wonderer0 commented on #2416
@Kilzzz Thanks for the link, but unfortunately I couldn't see how to change only a few parts, such as the just selected tab's colour, using [Firefox Color](https://addons.mozilla.org/en-US/firefox/addon/firefox-color/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=search).  You have to choose a preset theme and then change every part of that to make it roughly like the system theme.

[2022-03-13 15:33] scgf opened #2602 "Chrome add-ons do not work"
### What happened?

Attempting to add a chrome extension only offers to open the extension in Chrome or save the .crx file somewhere. It is not possible to add it to Waterfox (G4.0.8).

### Reproducible?

- [ ] I have tested this on Firefox.

### Version

G4

### What platform are you seeing the problem on?

macOS

### Relevant log output

_No response_

[2022-03-13 16:50] DavideCannonito commented on #2602
I wanted to add that Opera addon's dont work either, as on my Reddit post:
https://www.reddit.com/r/waterfox/comments/td47mp/only_able_to_install_firefox_extentions/?utm_source=share&utm_medium=web2x&context=3
not even working on G3.2.5
![immagine](https://user-images.githubusercontent.com/52752208/158074647-548e46d2-f1c5-4a5b-a6e5-4623b19ef675.png)
![immagine](https://user-images.githubuserconten

[2022-03-13 19:40] DavideCannonito commented on #2580
you even got to installing (even tho it failed)? me and an another user cant #2602 tl;dr: it asks to save or "open" the file. how did you get to install chrome extentions pls

[2022-03-13 20:39] DavideCannonito commented on #2459
how did you even get it to install :( I have same problem as this guy here #2602

[2022-03-14 13:33] tgtn opened #2603 "Restore pinned private tabs"
I have just noticed that pinned private tabs are not restored when relaunching the browser.

All my other normal pinned and unpinned tabs, and also unpinned private tabs are correctly restored. If possible I'd also want the private pinned tabs to be restored after the browser is closed and relaunched.

[2022-03-14 13:44] adamp01 commented on #2603
@tgtn - Thanks for the suggestion, I'll add it to the list and assess how tricky this will actually be.

[2022-03-14 14:17] adamp01 commented on #2564
That information should still be available if it is present in the extension manifest. How did you install the addons where this isn't being displayed?

Quick test on my end gave:
<img width="673" alt="image" src="https://user-images.githubusercontent.com/47503375/158191003-cddca787-0200-44c2-9cab-bb997f0ba81d.png">

[2022-03-15 11:35] tgtn commented on #2603
@adamp01, I've just stumbled upon a more complex negative(?!) behavior when it comes to private tabs, something for you guys to look into/discuss: it seems to me that also private tabs that have been loaded (or not?!) are no longer restored after a browser restart (and I think this only happened after the last update). HOWEVER, this might be a desired behavior, from privacy's perspective, since pr

[2022-03-15 12:00] adamp01 commented on #2603
@tgtn - Private tabs no longer being restored is the expected behaviour after the most recent update, as by definition we should not be storing any data related to a private tab. This was done as part of the work to make private tab more closely resemble behaviour of a private window.

I appreciate what you are saying around restoring a pinned private tab, although at that point it is now a semi-p

[2022-03-15 12:25] #2563 closed, assigned to adamp01

[2022-03-15 12:26] #2598 closed, assigned to nobody

[2022-03-15 12:39] tgtn commented on #2603
@adamp01 - it totally makes sense what you are saying about the private tabs being treated like private windows and thus losing their "persistence rights" :)

You're spot on when you say that (should they be restored after browser restart) pinned private tabs actually become semi-private containers since some data (i.e.: the last visited URL) is being stored - but it's a user's choice and, as long

[2022-03-16 11:05] jakenvac opened #2608 "Slight margin issue on the waterfox website"
### What happened?

Sorry if this isn't allowed here, not sure where else I can report it. I did check to see if there was a repository for the site to submit a PR myself but I couldn't find one.

For platforms that offer multiple downloads from the homepage; there is no margin between the two buttons.
I know this is a relatively small issue, but it's the small things that turn potential users awa

[2022-03-16 11:08] jakenvac commented on #2575
I think the whole screenshot leaves a lot to be desired. I think it would be great to display something in the browsing window area or not show it at all. (Maybe fade it out just below the url bar or something.

[2022-03-16 16:06] adamp01 commented on #2608
Thanks @JakeHL - there isn't a public repo for the website, so here is the best place.

This has been on my to do list for a while but just not got round to it. I'll quickly fix this and a couple other things tomorrow AM.

[2022-03-17 11:23] tgtn opened #2610 "Order changed when unmarking a tab as "Private Tab""
### What happened?

Hello,

In a window I have a bunch of pinned tabs which are followed by 4 Private Tabs, and then a bunch of regular tabs.
When, on the first of these private tabs (LTR), I have unselected it as "Private Tab" (right click tab name -> v Private Tab) this one was changed to a regular tab, and it stayed in place. But when I have started to do the same for the 2nd, 3rd and 4th tabs,

[2022-03-17 11:57] adamp01 commented on #2610
@tgtn - thanks for raising this.

What the Private Tab conversion is doing is actually creating a new tab inside the "Private" container, so the expected behaviour would be that the "new" tab would open after all your other tabs if you have your tab opening behaviour set as such (in `about:preferences`). So, assuming you have chosen new tab to open after all existing, the behaviour for tabs 2, 3 a

[2022-03-17 12:03] adamp01 commented on #2597
@jburf As this is not for the default themes, it makes things harder. I can see that "Real Windows Classic" was last updated in 2019. As Waterfox G4 is based on Firefox ESR91 there are going to be changes that the theme creator has not accounted for. Unfortunately, due to the sheer number of available themes and number of changes in Firefox between 2019 and ESR, we aren't going to be able to solve

[2022-03-17 12:03] #2597 closed, assigned to nobody

[2022-03-17 12:04] #2594 closed, assigned to nobody

[2022-03-17 12:11] tgtn commented on #2610
@adamp01 - I have checked the "Settings -> General -> Additional Tab Preferences -> Insert new tab after current tab" checkbox and indeed it was not checked (but I had an addon: "Open tabs next to current", as I wasn't aware of the built-in setting). So, after disabling the addon and rendering the "Insert new tab after current tab" setting active, I could no longer reproduce the reported bug.

[2022-03-17 12:13] adamp01 commented on #2610
@tgtn  - Awesome - glad to hear that.

[2022-03-17 12:13] #2610 closed, assigned to adamp01

[2022-03-17 12:17] tgtn opened #2611 "Private tabs converted to normal tabs, are opened as private after browser restart"
### What happened?

Hello,

After I've reported this issue:  #2610, only to realize now that the private tabs I have converted to normal tbs (uncheck: "Private Tab") are restored as private tabs after browser restart (maybe the scenario can be reproduced by following the steps described in report  #2610).

Scenario:
1. open some links in private tabs
2. convert tabs to normal tabs
3. restart brows

[2022-03-17 21:00] Kilzzz commented on #2416
The extension is pretty easy. Once it starts up click on the custom colors tab. Clicking on anything, like toolbar color brings up a color selector on the right. You can put in rgb or hex colors and it applies it to waterfox. The advanced colors has some nice options as well. Once you save the theme you can export it, but it needs to be signed by mozilla to be installed from a file. [Getting it si

[2022-03-18 16:07] #2608 closed, assigned to adamp01

[2022-03-18 17:07] jburf commented on #2597
Thanks for your efforts. I guess I wasn't clear, it does happen with the default themes, like Firefox Modern Light, or Waterfox Australis Light. It happens with every theme I've tried, except the default dark themes, which display white text over black.
If your background color displays in "Show All History" using the default light themes, could there be a setting in advanced settings that I have

[2022-03-19 21:57] uvulpos opened #2613 "Invalid property value: width fit-content"
### What happened?

I do websites and stuff and I used the CSS property `width: fit-content`, but Waterfox says in inspector mode “invalid property value”, so I can't use it. My layout works just fine in Chrome and Firefox itself.

### Reproducible?

- [X] I have tested this on Firefox.

### Version

G4

### What platform are you seeing the problem on?

macOS

### Relevant log output

[code]

[2022-03-20 00:11] Wonderer0 commented on #2416
I looked at the "Advanced colors" in the hope that they would give a way of choosing [System Colors](https://www.w3.org/wiki/CSS/Properties/color/keywords#System_Colors) (e.g. `Menu`, `Highlight`) instead of just RGB values that correspond to those colours.  The advantage of using System Colors is that they change automatically if you change your desktop theme, so WF always looks similar to other

[2022-03-20 10:34] uvulpos commented on #2613
**Jetbrains**
<img width="346" alt="Screenshot 2022-03-20 at 11 25 11" src="https://user-images.githubusercontent.com/53957681/159158311-5ae438c3-c122-4cd3-bd33-1685cc023505.png">

**Waterfox** (my mouse is over that warning sign)
<img width="321" alt="Screenshot 2022-03-20 at 11 34 00" src="https://user-images.githubusercontent.com/53957681/159158307-9016f7db-2018-4c91-8f04-8ffddc0ec16c.png">

**

[2022-03-20 13:04] thunderstone135 opened #2614 "Some Icons Not Showing In Tools Menu > Browser Tools"
### What happened?

**Describe the bug**
Hi, I just wanted to let you know that some icons are not showing in the **Tools Menu > Browser Tools**. However, the icons in the **App Menu > More Tools** are all present.

**Expected behavior**
The icons in the **Tools Menu > Browser Tools** should reflect the icons showing in the **App Menu > More Tools**.

**Screenshots**

**_App Menu_**
![Imgur](https

[2022-03-20 21:21] becarpenter commented on #2405
The IETF 6MAN WG has just formally adopted our document [draft-ietf-6man-rfc6874bis-00](https://www.ietf.org/archive/id/draft-ietf-6man-rfc6874bis-00.html). All we need is a developer who understands all the places where URLs are parsed (there are several) and where the actual socket calls are made. I'm glad to help if such a developer contacts me.

[2022-03-21 15:42] #2611 closed, assigned to nobody

[2022-03-22 00:53] rajhlinux commented on #1895
This is a good way to defeat DRM, you can copy an entire catalog of videos in no time. This will also save much CPU/GPU resource, pretty much dumping the video from source. Better than screen capture. Saves so much time from actually reverse engineering the actual DRM protocol system. LOL

[2022-03-22 04:51] Darin755 opened #2616 "Waterfox on flathub"
I noticed that waterfox is only available for linux through a download of an archive containing the raw binaries. They are all in the same folder which is a bit contrary to the linux/unix file structure. It is also a bit insecure to download random binaries off the internet and run them without some sort of verification. Flatpak works on many distros and would allow for a stable and easy to instal

[2022-03-22 09:14] adamp01 commented on #2613
@uvulpos - It's curious it works on FF, maybe they implemented differently after 91, [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/fit-content) suggests the only option on FF is to use the vendor prefix `-moz-fit-content`.

[2022-03-22 09:30] dirnb commented on #2575
Exactly. I think they should just cut the screenshot exactly where the black "# FEATURES" background begins and put a from the-bottom-up grey fade on the image so that it mainly highlights the URL bar.

[2022-03-22 09:32] uvulpos commented on #2613
Mh, now it works in Waterfox but not in chrome anymore

[code]

[2022-03-22 09:41] adamp01 commented on #2613
Use both in your css, if it's not available it will be ignored:
[code]

[2022-03-22 14:26] Peacock365 commented on #2279
@adamp01

Next to the _network.captive-portal-service.enabled_ issue, I noticed that we still do not have feature parity with Waterfox G3. Waterfox G3 supported NPAPI plug-ins, this support is gone aside from the bundled ones. Can you somehow make Waterfox detect plug-ins like Adobe Flash again? Is that a trivial fix?

[2022-03-22 19:39] aschroeder27 opened #2619 "MacOS Mouse Buttons 4 and 5 not working properly"
### Expected Behavior
Mouse Button 4 triggers "Browser back"
Mouse Button 5 triggers "Browser forward"

### Actual behavior
Mouse Button 4 and 5 both share the scrolling behavior of mouse button 3.

### Notes
This exact bug existed in Firefox and was fixed in version 92.

[See this Stackoverflow answer](https://stackoverflow.com/a/68532003)

### Reproducible?

- [ ] I have tested this on Firefox.

[2022-03-23 09:09] adamp01 commented on #2619
@aschroeder27 - thanks for raising, will get the fix for that pulled in.

[2022-03-23 09:09] #2613 closed, assigned to nobody

[2022-03-23 09:57] uvulpos commented on #2613
@adamp01 It works for my case, but isn't this a bug you should fix? If it wouldn't work in FF either, ok, but this is clearly a  bug from waterfox 🤔

[2022-03-23 12:05] Cerbrus opened #2624 "JavaScript Optional Chaining is not supported"
### What happened?

Waterfox's JavaScript engine does not support the [optional chaining operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining), which has been part of the ECMAScript standard since 2020. FireFox supports this operator since version 74, released the 10th  of march, 2020.

This causes websites using this operator to simply break.

##

[2022-03-23 14:18] #2619 closed, assigned to adamp01

[2022-03-23 14:26] adamp01 commented on #2614
Will close this out once Lepton is updated and pulled in.

[2022-03-23 22:28] Peacock365 commented on #2279
@adamp01

Is there any possibility of an NPAPI fix? Would be great if that were possible, but I have no idea how trivial or non-trivial that would be. I've seen that you have fixed the Chrome Web Store issue, thanks for this!

[2022-03-24 09:04] adamp01 commented on #2279
@Peacock365 - I'll chat with Alex and try to gauge how hard the NPAPI piece would be.

I appreciate you consistently raising things you find here as it's led to quite a few improvements and fixes, so wanted to quickly say thanks for that. If i miss anything as well let me know.

[2022-03-24 15:28] SkarnFlaxEnder opened #2626 "External links to blank page"
### What happened?

PopOS running on multiple machines, using Waterfox G4.0.8

Waterfox is set as default browser, and whenever a link is clicked on any external source (e.g. Thunderbird, a PDF reader, etc.) a new window with a blank tab opens. Links clicked inside of Waterfox are working fine. Extensions installed have been toggled off individually and tested to make sure they aren't the cause (P

[2022-03-24 16:38] adamp01 commented on #2626
Thanks for raising this, I'll take a look.

[2022-03-26 04:17] Darin755 commented on #2616
For anyone looking for an alternative installation method for Linux there is a app image.
https://www.appimagehub.com/p/1275115

[2022-03-26 04:22] Darin755 commented on #2616
On further inspection it seems that it is quiet out of date - use at your own risk

[2022-03-26 20:58] Legion495 opened #2627 "Youtube preview play crashes tab"
### What happened?

Hi! Wanted to hopefully switch to Waterfox on my machines.

I run Fedora 35 with waterfox and firefox (on my Laptop).
Waterfox G4 has been installed from hawkeye116477 repository.

If I hover over YT tiles it causes the tab to crash.
I tried in private mode and without extensions of course.

The issue does not show up on firefox on the same machine.
Wayland and standard waterfo

[2022-03-27 21:42] hawkeye116477 commented on #2616
There is better up to date AppImage on `https://appimage.github.io/Waterfox_Fourth_Generation/`.

Anyway, if someone wants official Flatpak or any other container package, then that was already discussed ago many times and rather won't happen.

[2022-03-28 08:03] adamp01 commented on #2627
@Legion495  - Thanks for raising this.

Opening up the browser console with `Ctrl+Shift+J` should allow you to see some logs that we can use to identify what is causing this.

Thanks

[2022-03-28 15:44] #2616 closed, assigned to nobody

[2022-03-28 15:45] Darin755 commented on #2616
It looks like this app image is the best option

[2022-03-28 16:44] s8wc3 commented on #2279
As of version 4.0.8 when using the Lepton theme the titlebar is painted in grey and doesn't respect the system's titlebar colour.
Windows 7 shown for effect (looks the worst), issue persists regardless of Windows version.
OK:
![2022-03-29_02-25-13](https://user-images.githubusercontent.com/60030618/160439423-c9c587e4-a4d4-419c-b14f-6724707c9fa3.png)
Scuffed:
![2022-03-29_02-25-46](https://user-ima

[2022-03-28 16:51] Darin755 commented on #2586
Is there any plans to release waterfox as a rpm/deb package?

[2022-03-28 16:58] black7375 commented on #2279
I'll test it tomorrow.

[2022-03-29 13:11] black7375 commented on #2279
- with Pure firefox: Works well

![image](https://user-images.githubusercontent.com/25581533/160610663-2afd04aa-7462-486d-abdc-8ae06ed6e3f1.png)

- Waterfox 4.0.8
![image](https://user-images.githubusercontent.com/25581533/160617074-81b8369a-4988-41a2-819c-8257773ab36d.png)

---

https://www.waterfox.net/docs/releases/G4.0.8

It will be one of two effect.

✨ New
-  Added a toggle on about:preferen

[2022-03-29 19:17] ihaddy commented on #2602
Has this been fixed in commit ([#2625](https://github.com/WaterfoxCo/Waterfox/pull/2625))? I originally saw the closed issue on #2580 stating the team didn't have the resources to fix the broken chrome api compatibility, but i saw a reddit post from a waterfox dev claiming it had been fixed ~6 days ago and would be released but I don't think #2625 is included in the latest released binary.

I don'

[2022-03-30 21:11] tcreek opened #2630 "Classic: Your prefered search - Bing now causes tab to crash"
### What happened?

Just noticed as of today, your suggested search engine of Bing now is crashing Classic Waterfox tabs when doing an actual search.

I thought this was an issue just on Windows, but have confirmed it also in Linux.

![image](https://user-images.githubusercontent.com/4149717/160931523-8dddc872-40ec-46af-b567-04775d1866a1.png)

### Reproducible?

- [X] I have tested this on Firefox

[2022-03-30 21:13] tcreek commented on #2576
That is being worked on in TabMix Plus

https://github.com/onemen/TabMixPlus

[2022-03-30 21:19] AaronCompNetSys commented on #2576
This is an extension with enhanced functionality beyond the scope of what I'm asking for. The base browser code already supports multiple tab rows, it only needs to be exposed using style.

[2022-04-02 06:35] ghost opened #2632 "No description provided."

[2022-04-02 15:11] Legion495 commented on #2627
![image](https://user-images.githubusercontent.com/15214766/161389286-91ad9418-5a5a-4b59-99f9-b3a29316dc6a.png)
![image](https://user-images.githubusercontent.com/15214766/161389502-0f09b9d3-dfbc-4241-bcc6-fd36d8034c56.png)

All of that looks rather generic. Everything edited again because I recorded a video. I made sure to wipe the browser clean.
And I highly doubt it can cause issues but I ran F

[2022-04-03 01:41] jh34ghu43gu opened #2633 "Stop or pause tab button in right click menu"
**Is your feature request related to a problem? Please describe.**
Sometimes I'll end up with many tabs open when working on a project and might need to put some "away" for a bit while I work on a sub-project that one of the pages told me I need to do. I do expect to come back to these tabs later during the project, but likely only once so bookmarking seems redundant to me. _The problem I have fro

[2022-04-03 03:15] 89z commented on #1895
https://github.com/w3c/mediacapture-fromelement/issues/20

[2022-04-03 08:26] ghost opened #2634 "No description provided."

[2022-04-03 13:37] black7375 opened #2635 "Build System"
**Is your feature request related to a problem? Please describe.**
While searching, I found an interesting project.

**Describe the solution you'd like**
If you're interested in rolling releases, it's worth a look.

- https://github.com/dothq/browser-desktop
  - https://dothq.github.io/melon/
- https://github.com/pulse-browser/browser
  - https://github.com/pulse-browser/gluon

[2022-04-04 07:33] karlcow opened #2636 "[webcompat] z2.fm - video or audio doesn't play"
### What happened?

Browser / Version: Waterfox 78.10.0
Operating System: Windows 7
Tested Another Browser: Yes Other

Problem type: Video or audio doesn't play
Description: There is no audio
Steps to Reproduce:
the music and download buttons don't work

Was opened on https://github.com/webcompat/web-bugs/issues/74010

### Reproducible?

- [X] I have tested this on Firefox.

### Version

Other

##

[2022-04-04 07:35] karlcow opened #2637 "[webcompat] phoenixfaucets.xyz - Site fails to load due to lightning scripts error"
### What happened?

URL: https://phoenixfaucets.xyz/home

Browser / Version: Waterfox 78.12.0
Operating System: Windows 10
Tested Another Browser: Yes Other

Problem type: Something else
Description: lighning scripts
Steps to Reproduce:
the site failed to load giving error lightning scripts issue

Moved from https://github.com/webcompat/web-bugs/issues/78314

### Reproducible?

- [X] I have tested

[2022-04-04 07:37] karlcow opened #2638 "[webcompat] www.youtube.com - Posted comments are no longer displayed after refreshing the page"
### What happened?

URL: https://www.youtube.com/watch?v=MRo4rLQA9UE

Browser / Version: Waterfox 91.3.1
Operating System: Linux
Tested Another Browser: Yes Other

Problem type: Something else
Description: Posting comments doesn't work.
Steps to Reproduce:
I post a comment on a YouTube video, and it looks fine, but when I reload the page the comment has disappeared. It feels like YouTube is reject

[2022-04-04 07:39] karlcow opened #2639 "[webcompat] www.wtnh.com - Content of the page is displayed blurry"
### What happened?

URL: https://www.wtnh.com/

Browser / Version: Waterfox 91.6.0
Operating System: Windows 10
Tested Another Browser: Yes Edge

Problem type: Site is not usable
Description: Page not loading correctly
Steps to Reproduce:
Site displays correctly when using Edge.

Opened originally on https://github.com/webcompat/web-bugs/issues/100196

### Reproducible?

- [X] I have tested this o

[2022-04-04 07:41] karlcow opened #2640 "[webcompat] www.tax.ny.gov - "Secure connection failed" when trying to log in"
### What happened?

URL: https://www.tax.ny.gov/online/

Browser / Version: Waterfox 91.3.0
Operating System: Windows 10
Tested Another Browser: Yes Edge

Problem type: Something else
Description: cannot connect securely to log on. Getting error PR_CONNECT_RESET_EROR on this website [www.tax.ny.gov/online](http://www.tax.ny.gov/online) and then click LOG IN
Steps to Reproduce:
Browser EDGE worked

[2022-04-04 08:18] karlcow opened #2641 "[webcompat] book-costcopharmacy.appointment-plus.com - The page does not load as expected"
### What happened?

URL: https://book-costcopharmacy.appointment-plus.com/ctnrml6m/?e_id=5375

Browser / Version: Waterfox 78.9.0
Operating System: Windows 7
Tested Another Browser: Yes Other

Problem type: Site is not usable
Description: Page not loading correctly
Steps to Reproduce:
Page won't load, stays blank. Tried 2 browsers

opened originally https://github.com/webcompat/web-bugs/issues/690

[2022-04-04 08:19] karlcow opened #2642 "[webcompat] www.ctv.ca - Video can not be played"
### What happened?

URL: https://www.ctv.ca/shows/south-park/the-pandemic-special-s24e2401

Browser / Version: Waterfox 78.9.0
Operating System: Windows 10
Tested Another Browser: Yes Edge

Problem type: Video or audio doesn't play
Description: The video or audio does not play
Steps to Reproduce:
This video file cannot be played.(Error Code: 246000)

opened originally on https://github.com/webcomp

[2022-04-04 08:21] karlcow opened #2643 "[webcompat] www.canva.com - Waterfox is an unsupported browser"
### What happened?

URL: https://www.canva.com/

Browser / Version: Waterfox 91.3.0
Operating System: Windows 10
Tested Another Browser: Yes Edge

Problem type: Site is not usable
Description: Browser unsupported
Steps to Reproduce:
Please update your browser:
It seems you are using an old or unsupported browser. To continue enjoying Canva, please update to a recent version of one of the following

[2022-04-04 08:23] karlcow opened #2644 "[webcompat] connect.intuit.com - Waterfox is an unsupported browser"
### What happened?

URL: https://connect.intuit.com/portal/app/CommerceNetwork/view/scs-v1-cc259093f193419b915f78b4b734590570e5d39292604ab8920f3d6f350cefcaaf6a10d01ed144d39576ffaff6d5ce8a?cta=viewinvoicenow&locale=en_US

Browser / Version: Waterfox 78.12.0
Operating System: Windows 10
Tested Another Browser: Yes Edge

Problem type: Site is not usable
Description: Page not loading correctly
Steps t

[2022-04-04 08:23] adamp01 opened #2645 "Where are Waterfox versions that run with SSE3 etc."
Where is the only version(s) that works at different than SS4 ? I'm talking about 3.2.3 or 3.2.6 etc. Why you removed them? Please can I find them somewhere?

_Originally posted by @adonios77 in https://github.com/WaterfoxCo/Waterfox/issues/2629#issuecomment-1086680237_

[2022-04-04 08:24] karlcow opened #2646 "[webcompat] www.dailymail.co.uk - Images from stories are not loading"
### What happened?

URL: https://www.dailymail.co.uk/ushome/index.html

Browser / Version: Waterfox 91.3.1
Operating System: Windows 10
Tested Another Browser: Yes Edge

Problem type: Video or audio doesn't play
Description: There is no video
Steps to Reproduce:
Photos included in story not display with waterfox, but do display under edge.

Opened originally on https://github.com/webcompat/web-bug

[2022-04-04 08:25] adamp01 commented on #2635
We are aware of both of these, but thanks for raising!

[2022-04-04 08:25] #2635 closed, assigned to nobody

[2022-04-04 08:26] adamp01 commented on #2645
@adonios77 - You can find all versions on the CDN: https://cdn.waterfox.net/releases/

[2022-04-04 08:26] #2645 closed, assigned to nobody

[2022-04-04 08:26] karlcow opened #2647 "[webcompat] www.hulu.com - Waterfox is an unsupported browser"
### What happened?

URL: https://www.hulu.com/watch/66c6da21-0c2a-48b3-9194-650f325c3041

Browser / Version: Waterfox 91.3.3
Operating System: Windows 10
Tested Another Browser: Yes Chrome

Problem type: Site is not usable
Description: Browser unsupported
Steps to Reproduce:
Upon attempting to play a video a message comes up prompting me to update my browser, as the current version is unsupported.